@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ヘッダー
------------------------------ */

/* ヘッダーロゴ
=============================== */
.p-header-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (min-width : acms.$breakpoint-lg-min) {
	.p-header-logo {
		padding: 0;
	}
}

/* サイトタイトル */
.p-header-site-title {
  &__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &__img {
    padding-right: 10px;
  }
  &__text {
    @include global.font-size(22);
  }
}

/* ブランドロゴ */
.p-header-brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  &__img {
    width: 30px;
    padding-left: 10px;
  }
}
@media (min-width : acms.$breakpoint-sm-min) {
  .p-header-brand {
      &__img {
        width: 60px;
      }
  }
}

/* ヘッダーナビ PC
=============================== */
.p-header-nav-scrn-wide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* ヘッダーナビ SP
=============================== */
.p-header-nav-scrn-narrow {
	position: fixed;
		top: 0;
		right: 0;
    left: 0;
	z-index: 9999;
	// box-sizing: border-box; // declaration-block-no-duplicate-properties 防止コメントアウト
	width: 100%;
	padding: 0 5px;
	background: #FFF;
	border-top: 4px solid map-get(global.$color-secondary, base);
	border-bottom: 1px solid #CCC;
	@if (global.$enable-iphonex == true) {
		padding: 0 calc(5px + constant(safe-area-inset-right)) 0 calc(5px + constant(safe-area-inset-left));
	}
}

/* ナビゲーションボタン */
.p-header-nav-menu-btn {
	display: inline-block;
	box-sizing: border-box;
	height: 44px;
	padding: 7px 5px;
	color: #333;
	@include global.font-size(20);
	a & {
		color: #333;
	}
	&:hover {
		color: #333;
		text-decoration: none;
	}
	.acms-icon-sort {
		display: inline-block;
	}
}
.p-header-nav-menu-btn-text {
	  display: inline-block;
	margin: 0 0 0 5px;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
	@include global.font-size(11);
}

/* モバイル時ヘッダー アイコン */
.p-header-nav-menu-action {
	display: table;
	float: right;
	margin: 0;
	padding: 0;
}
.p-header-nav-menu-action-item {
	display: table-cell;
	width: 44px;
	height: 44px;
	color: map-get(global.$color-secondary, base);
	text-align: center;
	vertical-align: middle;
	@include global.font-size(20);
}
.p-header-nav-menu-action-link {
	color: map-get(global.$color-secondary, base);
	 &:hover,
	 &:active,
	 &:visited,
	 &:focus {
		color: map-get(global.$color-secondary, base);
		text-decoration: none;
	}
}

/* トグルメニューアイコン */
.p-header-nav-menu-btn-icon {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 2px;
	margin: 6px 0;
	vertical-align: middle;
	background-color: #333;
	border-radius: 1px;
	transition: .1s all;

	&:before,
	&:after {
		position: absolute;
		display: block;
		width: 18px;
		height: 2px;
		background-color: #333;
		border-radius: 1px;
		transition: .3s all;
		content: "";
	}

	&:before {
		top: -6px;
	}

	&:after {
		bottom: -6px;
	}

	[aria-expanded=true] & {
		background: transparent;
	}

	[aria-expanded=true] &:before {
		width: 22px;
		transform: translate(-2px,6px) rotate(45deg);
	}
	[aria-expanded=true] &:after {
		width: 22px;
		transform: translate(-2px,-6px) rotate(-45deg);
	}
}
