@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　プロフィール
------------------------------ */
.p-profile {
  display: flex;
  flex-flow: column;
  padding: 24px 0;
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .p-profile {
    flex-flow: row;
  }
}

/* プロフィール画像
=============================== */
.p-profile__img-wrap {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.p-profile__img {
  border-radius: inherit;
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .p-profile__img-wrap {
    width: 120px;
    height: 120px;
  }
}

/* 自己紹介
=============================== */
.p-profile__content {
  margin-top: 12px;
}

.p-profile__name {
  margin: 0;
  font-weight: bold;
  @include global.font-size(22);
}

.p-profile__bio-wrap {
  margin-top: 12px;
}

.p-profile__bio {
  margin: 0;
  @include global.font-size(14);
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .p-profile__content {
    flex: 1;
    margin-top: 0;
    padding-left: 32px;
  }
}
