@use "../foundation/global/acms-common" as acms;
@use "../foundation/global/common" as global;

$_l-list-column-acms-grid: (acms.$grid-space / 2);

/* ------------------------------
　　リスト
------------------------------ */
/* 横並びインラインリスト
=============================== */
.l-list-row {
  @include global.list-unstyled();
  &__item {
    display: inline-block;
  }
}

/* 横並びgridリスト カラム数はacms-col-**クラスで制御
=============================== */
.l-list-column-acms {
  @include global.list-unstyled();
  /* acms-grid */
  margin-right: ($_l-list-column-acms-grid / -2);
  margin-left: ($_l-list-column-acms-grid / -2);

  &__item {
    margin-top: $_l-list-column-acms-grid;
    margin-bottom: $_l-list-column-acms-grid;

    /* acms-col-** */
    padding-right: ($_l-list-column-acms-grid / 2);
    padding-left: ($_l-list-column-acms-grid / 2);
  }
}
