@use "../foundation/global/acms-common" as acms;
@use "../foundation/global/common" as global;

/* ------------------------------
　　セクション
------------------------------ */
.l-section {
  padding: 24px 0;

  &.-bg-inverse {
    background: map-get(global.$color-bg, inverse);
  }

  &.-bg-primary {
    background: map-get(global.$color-bg, primary);
  }
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .l-section {
    padding: 40px 0;
  }
}

.l-section-2column {
  display: grid;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .l-section-2column {
    grid-template-columns: repeat(2, 1fr);
  }
}
