@use "../foundation/global/acms-common" as acms;
@use "../foundation/global/common" as global;

/* ------------------------------
　　セクション
------------------------------ */
.l-section-bg {
  padding: 40px 0;
  background-color: map-get(global.$color-bg, lightest);

  &.-small {
    padding: 20px 0;
  }
}

@media screen and (min-width: acms.$breakpoint-sm-min){
  .l-section-bg {
    padding: 70px 0;

    &.-small {
      padding: 10px 0;
    }
  }
}

.l-section-default {
  margin-top: 50px;
  margin-bottom: 50px;
}