@use "global/common" as global;

/* ------------------------------
 バッジ
------------------------------- */

.acms-badge {
  padding: 3px 7px;
  color: global.$acms-badge-text-color;
  font-weight: bold;
  background-color: global.$acms-badge-default;
  border-radius: 10px;
  @include global.font-size(10);
}
.acms-badge-success {
  color: global.$acms-badge-text-success-color;
  background-color: global.$acms-badge-success-color;
}
.acms-badge-info {
  color: global.$acms-badge-text-info-color;
  background-color: global.$acms-badge-info-color;
}
.acms-badge-warning {
  color: global.$acms-badge-text-warning-color;
  background-color: global.$acms-badge-warning-color;
}
.acms-badge-danger {
  color: global.$acms-badge-text-danger-color;
  background-color: global.$acms-badge-danger-color;
}

/* 承認機能用バッジ */
.acms-badge-approval {
  color: global.$acms-badge-approval-text-color;
  background-color: global.$acms-badge-approval-color;
}
