@use 'global/common' as global;

.acms-loading-bar {
  position: relative;
  height: 4px;
}

.acms-loading-bar-inner {
  width: 0;
  height: 100%;
  background-color: global.$acms-color-info70;
  transition: width 1s;
  transition-delay: 1s;

  &.-alert {
    background-color: global.$acms-color-danger70;
  }
}
