@use 'global/common' as global;

/* ------------------------------
 プレースホルダー
------------------------------- */
.acms-placeholder-movie {
  background: url('../images/placeholder/movie.svg') center;
  background-repeat: no-repeat;
  background-size: cover;
}
