@use "global/common" as global;

/* ------------------------------
 サムネイル
------------------------------- */
// 角丸
.acms-img-rounded,
.acms-img-rounded img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius:6px;
  // キャプション
  .acms-img-caption {
    border-radius: 0 0 6px 6px;
  }
}

// 影
.acms-img-shadow {
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

// ボーダー
.acms-img-bordered {
  max-width: 100%;
  padding: 4px;
  background-color: global.$acms-color-white;
  border: 1px solid global.$acms-color-gray50;
}

// ---------------
// キャプション
// ---------------
// キャプションボックス
.acms-img-captionBox {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
   &:hover .acms-img-hover {
    @include global.opacity(1);
  }
}
// キャプション
.acms-img-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px 20px 12px;
  color: global.$acms-color-white;
  background-color: global.$acms-color-black;
  background-color: rgba(0,0,0,0.5);
}

.acms-img-captionBox img {
  display: block;
  max-width: 100%;
  height: auto;
}

// ---------------
// hover
// ---------------
.acms-img-hover {
  @include global.opacity(0);
  @include global.transition(all 0.2s ease-in-out);
}

// ---------------
// サムネイル
// ---------------
.acms-thumbnail {
  display: block;
  margin-bottom: 10px;
  padding:6px;
  color: global.$acms-color-black;
  text-decoration: none;
  background-color: global.$acms-color-white;
  border: 1px solid global.$acms-color-gray30;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

   &:hover {
     color: currentColor;
     border: 1px solid global.$acms-color-gray40;
     box-shadow: 0 2px 4px rgba(0,0,0,.1);
    cursor: pointer;
  }
}
