config.server.php
php.ini
license.php
/.htaccess
/.htpasswd
/.idea
/.vscode
/archives/*
!/archives/.htaccess
/archives_rev/*
!/archives_rev/.htaccess
/media/*
!/media/.htaccess
/storage/*
!/storage/.htaccess
/cache/*
!/cache/.htaccess
/private/backup*
/*setup*
node_modules
.DS_Store
