{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    ["@babel/preset-react"],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-transform-modules-commonjs", { "strictMode": false }],
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "bash", "scss", "jsx", "tsx", "typescript"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["babel-plugin-minify-dead-code-elimination"]
    }
  }
}
