{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "extends": [
    "airbnb",
    "plugin:vue/recommended"
  ],
  "plugins": ["vue", "@babel"],
  "globals": {
    "document": true,
    "window": true,
    "event": true,
    "$": true,
    "jQuery": true
  },
  "rules": {

  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.prod.js"
      }
    }
  }
}
