@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　フィールド編集
------------------------------ */
.acms-admin-table-admin-edit td p.p-admin-edit-link,
.p-admin-edit-link {
  margin: 8px 0 0;
  span {
    vertical-align: middle;
  }
  a:hover {
    [class*=acms-admin-icon] {
      text-decoration: none;
    }
  }
}

/* カスタムフィールドタイトル
=============================== */
.p-admin-field-title {
  /* いつも見にくいのでなにかすたいるつけたい。 */
  /* 上に余白も欲しい */
}

/* テーブル2つ並んだ時
=============================== */
.acms-admin-table-admin-edit + .acms-admin-table-admin-edit {
  margin-top: -1px; // ボーダー2重になるのを防止
}


/* フィールドグループテーブル 項目縦並び
=============================== */
.p-admin-table-field-group-vertical {
  $parent: &;

  & > thead {
    display: none;
  }
  & > tbody {
    & > tr:nth-child(even) {
      background: #EFEFEF;
    }
  }
}

/* テーブル内のテーブル */
.acms-admin-table-admin-edit {
  .p-admin-inner-table {
    width: auto;
    th,
    td {
      width: auto;
      text-align: left;
    }
  }
}

/* 公開日時と掲載期限をエントリーのカスタムフィールドに移動
=============================== */
#js-date-prepend {
	.entryFormDateBlockWrap{
		display: block;
		margin: 0;
	}
	.entryFormDateBlock {
		display: block;
	}
}
@media screen and (min-width: acms.$breakpoint-sm-min) {
	#js-date-prepend {
		.entryFormDateBlockWrap{
			display: inline-block;
		}

		.entryFormDateBlock {
			display: inline-block;
			width: 150px;
			margin-right: 10px;
			vertical-align: middle;
		}
	}
	.entryFormDateLabel,
	.entryFormTimeLabel {
		margin: 0;
	}
}

/* 公開日時と掲載期限をエントリーのカスタムフィールドに移動
=============================== */
.js-ticket-coop-place > td > table {
  border: 1px solid map-get(global.$color-border, admin-table);
}


/* LiteEditor
=============================== */
.p-field-lite-editor-wrap .lite-editor-tooltip-table .acms-admin-btn {
  margin-right: 5px;
}
.p-field-lite-editor-wrap .lite-editor-btn-close-label {
  vertical-align: middle;
}

.p-field-lite-editor-wrap .lite-editor-tooltip-table tr:first-child th,
.p-field-lite-editor-wrap .lite-editor-tooltip-table tr:first-child td,
.p-field-lite-editor-wrap .lite-editor-tooltip-table tr:last-child th,
.p-field-lite-editor-wrap .lite-editor-tooltip-table tr:last-child td {
  padding: 5px;
}
.p-field-lite-editor-wrap .lite-editor-toolbox {
  margin-top: 6px;
  margin-bottom: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.p-field-lite-editor-wrap .lite-editor-btn-group-wrap {
  padding-left: 0;
}
.p-field-lite-editor-wrap .acms-admin-btn-group {
  display: inline-block;
}
