@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ユニット編集
------------------------------ */
.entryFormLiteEditor {
   /* リンク */
   a {
    &:link,
    &:hover,
    &:focus,
    &:active {
      color: global.$link-color;
      text-decoration: underline;
    }

    &:visited {
      color: global.$link-color-visited;
    }
  }

  /* 強調 */
  em {
    font-weight: global.$entry-font-weight-normal;
    font-style: italic;
  }

  /* 重要 */
  strong {
    font-weight: global.$entry-font-weight-bold;
    font-style: normal;
  }

  /* コード */
  code {
    padding: 0.2em 0.4em;
    font-size: 0.85em;
    font-family: global.$font-code;
    vertical-align: 0.08em;
    background: #215aa012;
    border-radius: 4px;
  }
}
