@use '../global/common' as global;

/* ------------------------------
 デバイスモードモーダル
------------------------------- */
.acms-device-mode-modal {
  position: fixed;
  inset: 0;
  z-index: global.zIndex(device-mode-modal);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.acms-device-mode-modal.is-after-open {
  opacity: 1;
}

.acms-device-mode-modal.is-before-close {
  opacity: 0;
}
