@use '../global/common' as global;

.acms-editor-media-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  margin-bottom: 20px;
}

.acms-editor-media-placeholder {
  position: relative;
  margin: 20px;
  cursor: pointer;
}

.acms-editor-media-placeholder [class*='acms-admin-icon'] {
  color: global.$acms-color-system-gray60;
  font-size: 60px;
}

.acms-editor-save-btn {
  padding: 5px 7px;
  font-size: 16px;
}

.acms-editor-media-btn {
  display: inline-block;
  padding: 4px 10px;
  color: global.$acms-color-black;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.acms-editor-media-btn:hover {
  border: 1px solid rgb(0 0 0 / 40%);
}

.acms-editor-media-box {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  text-align: center;
  background-color: global.$acms-color-system-gray10;
  border-radius: 5px;
}

.acms-editor-media-btn:first-child {
  margin-right: 20px;
}

.acms-editor-media-box .icon {
  color: global.$acms-color-system-gray60;
  font-size: 55px;
}

.acms-editor-media-box-gray {
  position: static;
  background-color: global.$acms-color-gray20;
  border: none;
}

.acms-editor-media-icon-wrap {
  margin-bottom: 10px;
  color: global.$acms-color-system-gray60;
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: global.$breakpoint-sm-max) {
  .acms-admin-media-unit-droparea-text {
    display: none;
  }
}
