@use "../global/common" as global;

@keyframes nested-item-added {
	from {
        transform: translateY(-5px);
		opacity: 0;
	}

	to {
        transform: translateY(0);
		opacity: 1;
	}
}

.acms-nested-item {
    position: relative;
    margin-bottom: 6px;
    padding: 6px;
    font-size: 13px;
    background-color: global.$acms-color-gray20;
    border-radius: 2px;
    transition: background-color .3s, opacity .3s linear;
}

.acms-nested-item-header{
    padding-left: 30px;
}

.acms-nested-item-inner {
    display: flex;
    .acms-form-checkbox {
        padding-top: 5px;
    }
}

.acms-nested-item-child {
    display: block;
    flex: 1;
    padding: 0 10px;
}

.acms-nested-item-child-link {
    flex: 2;
}

.acms-nested-item-addbox {
    display: none;
}

.acms-nested-item-input {
    margin-right: 10px;
    label {
        margin-right: 5px;
    }
}

.acms-nested-input-group {
    display: table;
    border-collapse: separate;
}

.acms-nested-label {
    position: relative;
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    white-space: nowrap;
}

.acms-nested-input {
    width: 100%;
}

.acms-nested-item-handle {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    margin-right: 25px;
    cursor: -webkit-grab;
}

.acms-nested-item-detail {
    padding-top: 5px;
    padding-left: 30px;
}

.acms-nested-private > .acms-nested-item {
    opacity: .66;
}

.acms-nested-item .icon-plus-gray,
.acms-nested-item .icon-minus-gray {
    width: auto;
    height: auto;
    margin-right: 0;
    font-style: normal;
    background-image: none;
}

.acms-nested-collapse-btn {
    padding: 3px 6px;
}

.acms-nested-item .icon-plus-gray:before {
    display: block;
    width: 15px;
    height: 15px;
    font-size: 15px;
    content: "+";
}

.acms-nested-item .icon-minus-gray:before {
    display: block;
    width: 15px;
    height: 15px;
    font-size: 15px;
    content: "-";
}

.acms-nested-selected > .acms-nested-item{
    background-color: global.$acms-color-gray80;
}

.acms-nested-item .acms-btn-admin {
    margin-right: 10px;
}

.nestable-list {
    margin-top: 0 !important;
	animation-name: nested-item-added;
	animation-duration: .3s;
    animation-timing-function: ease-out;
}

.nestable-item {
    margin: 0;
}

.is-dragging .acms-nested-item-handle {
    cursor: -webkit-grabbing;
}

.nestable .nestable-item {
    margin: 0 !important;
}

.acms-nested-prevent-animation .nestable-list {
    animation-name: none;
    animation-duration: 0;
}

.acms-nested-disabled-btn {
    opacity: 0 !important;
}

.is-drag-active .nestable-list,
.nestable-group {
    animation-name: none;
}

@media screen and (max-width: global.$breakpoint-md-max) {
    .acms-nested-item-inner {
        display: block;
    }
    .acms-nested-item-child {
        padding-bottom: 10px;
    }
}
