@use '../global/common' as global;

/* ------------------------------
 プレビュー
------------------------------- */
.acms-preview-actions {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 5px;
  }
}
