@use '../global/common' as global;

/* ------------------------------
 タイムマシーン
------------------------------- */

.acms-timemachine-form {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 5px;
  }
}
