@use "../global/common" as global;

// ------------------------------
// ドロップダウン
// ------------------------------
// ボタンの幅
.acms-btn-group-entry {
  min-width: 90px;
}

// リンクカラー
.acms-dropdown-menu > li > a {
  color: #333333;
}

.acms-btn-admin + .acms-dropdown-toggle {
  height: 31px;
  margin-left: -1px;
}

.acms-td-edit .js-acms-dropdown-menu {
  min-width: 120px;
}
