@use 'sass:math';
@use '../global/common' as global;

// ------------------------------
// エントリ一覧ページ
// ------------------------------
.acms-entryTitle,
.categoryTitle {
  display: inline-block;
  font-weight: bold;

  @include global.font-size(13);
}

.acms-dateTime {
  width: 110px;
}

// カテゴリータイトル
.categoryTitle {
  margin: 0 20px 0 10px;
}

// エントリー
.acms-entryTitle {
  margin: 0;
}

// 日付、ブログ名
.acms-list-inline {
  margin: 0;
  padding-left: 0;
}

#tagList li {
  padding-right: 5px;

  a {
    @include global.button-shape;
    @include global.button-decoration(
      $border: 1px solid rgba(0, 0, 0, 0.2),
      $hover-bg-color: global.$acms-color-gray20,
      $hover-border-color: rgba(0, 0, 0, 0.3),
      $text-color: global.$acms-btn-text-default-color,
      $active-border-color: global.$acms-btn-active-border-color,
      $active-bg-color: #e1e1e1,
      $active-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3),
      $active-text-color: global.$acms-color-black,
      $focus-border-color: global.$acms-btn-focus-border-color
    );
  }

  @media screen and (min-width: global.$breakpoint-md-min) {
    a {
      @include global.button-shape(
        $font-size: global.$acms-btn-font-size-desktop,
        $padding: (
          math.div(global.$acms-form-height - global.$acms-btn-font-size-desktop - 2px, 2),
        )
        global.$acms-btn-padding-x
      );
    }
  }

  .acms-label {
    margin-left: 5px;
    padding: 3px 5px;
    vertical-align: baseline;
    border-radius: 5px;
  }
}

.admin-entry-index-val {
  color: #666;
}

// ------------------------------
// カテゴリー一覧ページ
// ------------------------------
.acms-title-sp {
  margin: 0;
}

// ------------------------------
// 子ブログ一覧ページ
// ------------------------------
.acms-blog-index-url {
  margin: 0;
}

// ------------------------------
// ページャ
// ------------------------------
// ページャの間隔
.acms-pager-container {
  margin-top: 10px;
}

.acms-itemsAmount-container {
  margin-top: 10px;
  text-align: right;
}

// ------------------------------
// ショートカットボタン
// ------------------------------
// ボタン
.acms-shortcut-btn {
  padding: 7px 10px 6px;
}

// ------------------------------
// テンプレート書出し管理画面
// ------------------------------
.acms-form-side-select {
  position: relative;
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  white-space: nowrap;
  vertical-align: top;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.acms-form-action-width-select input[type='text']:last-child {
  border-left: global.$acms-form-border;
  border-top-left-radius: global.$acms-form-border-radius;
  border-bottom-left-radius: global.$acms-form-border-radius;
}

// ------------------------------
// エクスポート・インポート
// ------------------------------

.acms-exported-list {
  margin-bottom: 15px;

  li {
    padding-right: 5px;
  }
}

.acms-exported-label {
  font-size: 13px;
}

// ------------------------------
// チェックリスト
// ------------------------------
.acms-admin-checklist-config-search {
  margin: 10px 10px 20px;
}
