@use '../global/common' as global;

// ------------------------------
// 管理ボックス
// ------------------------------
#js-admin_action_box {
  display: none;
}

@media screen and (min-width: global.$breakpoint-md-min) {
  #js-admin_action_box {
    display: block;
  }
}

#adminBox > #loginUserStatus {
  display: none;
}

#adminBox {
  margin: 0 0 20px;
  padding: 12px 20px 10px;
  background-color: global.$acms-color-gray20;
  border: none;
}

.acms-action-box {
  margin-bottom: 10px;
}
