@use '../global/common' as global;

// ------------------------------
// 背景インナーボックス
// ------------------------------
.acms-bg-light-gray {
  background: global.$edit-entry-bg-color-light;
}

.acms-update-panel {
  padding: 15px 25px;
  background: global.$edit-entry-bg-color-light;
  border-radius: global.$update-panel-border-radius;
}
