@use '../global/common' as global;

// ------------------------------
// カラーパレット
// ------------------------------
.acms-color-palette {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-image: none;
  border: 1px solid global.$acms-color-gray60;
}
