@use '../global/common' as global;

// ------------------------------
// ドロップダウン
// ------------------------------
// ボタンの幅
.acms-btn-group-entry {
  min-width: 70px;
}

// リンクカラー
.acms-dropdown-menu > li > a {
  color: global.$acms-color-black;
}

.acms-btn-admin + .acms-dropdown-toggle {
  height: 31px;
  margin-left: -1px;
}

.acms-td-edit .js-acms-dropdown-menu {
  min-width: 120px;
}
