@use '../global/common' as global;

// ------------------------------
// アイコン
// ------------------------------
.acms-admin-icon {
  margin-right: 10px;
}

.acms-admin-icon-center {
  margin-right: 10px;
  vertical-align: middle;
}
