@use "../global/common" as global;

// ------------------------------
// ラベル
// ------------------------------
.acms-label-min-width {
  display: block;
  min-width: 3em;
  line-height: 1;
  text-align: center;
}
