@use '../global/common' as global;

// スマートフォン メニューアイコン
#nav-open-btn {
  position: absolute;
  top: 15px !important;
  left: 15px !important;
  padding: 0;
  color: global.$header-nav-color;
  background: 0;
  border: none;

  @include global.font-size(30);

  [class*='acms-icon-'] {
    display: block;
  }

  &:active {
    box-shadow: none;
  }

  .acms-icon:focus {
    outline: 0;
  }

  @media screen and (min-width: global.$breakpoint-md-min) {
    display: none;
    padding: 15px 12px;
    color: #0085cc;
    background-color: #eee;
    border: solid 1px global.$acms-color-gray60;

    @include global.font-size(15);
  }
}

.acms-header-btn {
  color: global.$header-nav-color;

  @include global.font-size(30);

  [class*='acms-icon-'] {
    display: block;
  }
}

@media screen and (min-width: global.$breakpoint-md-min) {
  // 固定解除
  #sidebar {
    position: fixed;
    top: 0;
    left: 50px;
    width: 175px;
  }

  // ブログ一覧を非表示
  .acms-list-blog-sp {
    display: none;
  }

  // ナビゲーションが閉じている時
  #outer-wrap #nav {
    position: static;
  }

  /* サイドバー */
  .acms-sidebar {
    padding-bottom: 40px;
  }
}
