@use '../global/common' as global;

// ------------------------------
// テーブル
// ------------------------------
.acms-table-admin-edit-bordered,
.acms-table-admin-edit {
  td,
  th {
    p {
      margin: 0;
    }
  }
}

// スマートフォンの時
@media screen and (max-width: global.$breakpoint-md-max) {
  // テーブル全体に色
  .acms-table-heading {
    background-color: global.$acms-color-white;

    .acms-td-status,
    .acms-td-edit {
      display: block;
      width: 100%;
    }
  }

  #main .acms-table-admin td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  // エントリ情報の一覧
  .acms-table-admin td .acms-list-inline {
    margin-top: 5px;

    li {
      line-height: 1.5;
    }
  }

  .acms-td-title {
    display: inline-block;
  }

  .acms-td-title .acms-entryTitle {
    @include global.font-size(14);
  }

  #main .acms-table-heading th,
  .acms-table-heading td {
    border-top: none;
    border-bottom: none;
  }

  .acms-table-heading .acms-td-edit {
    border-bottom: 1px solid global.$acms-color-gray60;
  }

  // チェックボックス
  .acms-table-admin .acms-th-checkbox {
    text-align: left;
  }

  // テーブルの項目を非表示
  .acms-table-heading {
    .acms-th-number,
    .acms-th-id {
      display: none;
    }
  }

  .acms-table-hover tr:hover td {
    background-color: global.$acms-color-white;
  }
}

// テーブル内ツールチップ
.acms-table-admin-edit .tooltipIcon,
.acms-table-admin .tooltipIcon {
  margin-left: 10px;
}

// アイコンを大きく
.acms-admin-mini-table .acms-icon {
  @include global.font-size(22);
}

.acms-admin-mini-table td.caution {
  background-color: global.$acms-color-caution-bg !important;
}

// テーブル内でスクロール
.acms-admin-table-scroll {
  max-height: 320px;
  overflow-y: scroll;
}

// コンフィグ一覧テーブル
.acms-admin-config-table tbody th {
  width: 50px;
}

// ダッシュボード内テーブル
.acms-admin-icon-table img {
  margin-right: 10px;
  vertical-align: middle;
}

//コンフィグのテーブルのハンドルまわり
.acms-table-admin-edit {
  .acms-admin-config-table-item-handle {
    width: 30px;
  }

  .acms-admin-config-table-sort {
    width: 92px;
  }

  .acms-admin-config-table-publish {
    width: 77px;
  }

  .acms-admin-config-table-target {
    width: 50px;
  }

  .acms-admin-config-table-parent {
    width: 50px;
  }

  .acms-admin-config-table-action {
    width: 50px;
  }

  .acms-admin-config-table-criterion {
    width: 50px;
  }

  .acms-admin-config-table-display {
    width: 50px;
  }

  .day {
    width: 100px;
  }
}

@media screen and (max-width: global.$breakpoint-md-max) {
  .acms-table-admin-edit {
    // スマートフォンのときの画像
    img {
      width: auto;
      max-width: 200px !important;
      height: auto;
    }

    // スマートフォンのときのプルダウン
    select {
      display: block;
      width: 100%;
    }
  }
}
