@use '../global/common' as global;

// ------------------------------
// タグセレクト
// ------------------------------
// プルダウンの絞り込み
.js-acms-tab-select {
  margin-bottom: 10px;
}

.js-acms-tab-select-value {
  margin-right: 5px;
}
