@use '../global/common' as global;

// ------------------------------
// ユニット設定
// ------------------------------
// ユニット囲い
.acms-unitbox {
  margin: 0 0 20px;
  padding: 10px;
  background: global.$acms-color-white;
  border: 1px solid global.$edit-entry-bg-color-dark;
}

// コンテンツ
.acms-table-container {
  margin: 0 0 10px;
  background: global.$edit-entry-bg-color-light;
  border: 1px solid global.$edit-entry-bg-color-dark;

  // テーブル
  > .acms-table {
    border: none;

    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th {
      vertical-align: inherit;
    }
  }
}

.acms-unitbox {
  .acms-table-container > .acms-table {
    border-spacing: 0;

    > tbody > tr,
    > thead > tr,
    > tfoot > tr,
    > tbody > tr > th,
    > tbody > tr > td {
      border: none;
    }
  }

  i.acms-icon-sort {
    margin-right: 4px;
  }

  @media screen and (max-width: global.$breakpoint-md-max) {
    .acms-table-container > .acms-table {
      > tbody > tr,
      > thead > tr,
      > tfoot > tr,
      > tbody > tr > th,
      > tbody > tr > td {
        display: block;
      }
    }

    // 削除ボタン
    .acms-table-container > .acms-table > tbody > tr > td.acms-table-action {
      width: auto;
      text-align: right;
    }
  }
}
