@use '../global/common' as global;

// ------------------------------
// 表示制御
// ------------------------------
.validator-result-,
.validator-result-1,
.transaction-notice-,
#tooltip,
#js-processing-notice-,
#js-processing-notice-show {
  display: none;
}

.validator-result-error,
.validator-result-0 {
  display: block;
}
