$z-map-offset: 100000;
$z-map: (
  /* 管理画面の appshell */
  acms-fix-right: true,
  acms_fix_bg: true,
  fixed: true,
  js-acms_fix_marker: true,
  js-acms-drop-down-menu: true,
  acms-nav: true,
  acms-main: true,
  acms-navbar-deep: true,
  acms-navbar: true,
  acms-navbar-admin: true,
  outer-wrap-top: true,
  acms_fix_bg_index: true,
  /* appshellより重なり順が上のコンテンツ */
  acms-drop-area-before: true,
  acms-drop-area-inner: true,
  acms-drop-area: true,
  com-post: true,
  preview-area: true,
  js-acms-offcanvas-sidebar: true,
  js-acms-offcanvas-active: true,
  /* レイアウトモジュール系 */
  acms-layout-menu: true,
  acms-preview-iframe-wrapper: true,
  /* 表画面でのダイレクト編集系　*/
  js-edit_inplace-sort_label: true,
  js-edit_inplace-sort_close: true,
  js-edit_sort-control-move: true,
  js-edit_inplace-below_control: true,
  js-edit_inplace-title: true,
  js-edit_inplace-sort_selection: true,
  js-edit_inplace-box: true,
  acms-module-edit: true,
	/* ライセンスのアラート */
	js-admin-toast-toggle: true,
  /* a-blog cmsのモーダル系 (isolation: true) */
	acms-modal: true,
  js-ui-expand: true,
  lite-editor-bg: true,
  js-edit_inplace-detail: true,
  acms-media-modal: true,
  /* 承認機能系 */
  acms-revision-header: true,
  /* プレビュー系 */
  preview-container: true,
  js-media_view: true,
  /* draggableコンテンツ */
  acms-dragging: true,
  js-dragAdminBox: true,
  /* picker や jQueryUI などのライブラリ系 */
  ui-dialog: true,
  flatpickr: true,
  acms-tooltip: true,
  select2-container: true,
  related-item: true,
  /* 保存時のsplash系  */
  js-entry_saving_progress: true,
  js-loading_splash: true,
  smartphoto: true,
  wysiwyg-fullscreen: true,
);

// z-index
@function zIndex($name, $childname: 0) {
  $getkey: map-get($z-map, $name);
  @if $childname != 0 {
    @return $z-map-offset + index($getkey, $childname);
  }
  @return $z-map-offset + index($z-map, ($name $getkey));
}


// important をMixinsに追加する
@function if-important($important){
  @return #{if($important, '!important', '')};
}
