<!-- BEGIN_MODULE Entry_Headline id="{{module_id}}" -->
<!-- モジュール編集ボタン -->
@include("/include/edit/module-custom-box2.html")
<div class="c-list-line">
  <ul class="c-list-line__list">
    <!-- BEGIN entry:loop -->
    <li class="c-list-line__item <!-- BEGIN_IF [{entry:loop.class}/nem] -->{entry:loop.class}<!-- ELSE -->acms-col-12<!-- END_IF -->">
      <a href="{url}" class="js-viewing-indelible c-list-line__link">
        <div>
          <p class="c-list-line__label"><time datetime="{date#Y}-{date#m}-{date#d}">{date#Y}/{date#m}/{date#d}</time></p>
          <p class="c-list-line__title">
            <span class="c-list-line__title-inner">{title}</span><!-- BEGIN new -->
            <span class="">NEW</span><!-- END new -->
          </p>
        </div>
        <span class="c-list-line__icon fas fa-chevron-circle-right"></span>
      </a>
    </li>
    <!-- END entry:loop -->
  </ul>
</div>
<!-- ページャー -->
@include("/include/parts/pager.html")
<!-- END_MODULE Entry_Headline -->
