@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ベース
------------------------------ */
html {
  height: 100%;
}

body {
  height: 100%;
  color: map-get(global.$color-text, base);
  font-family: global.$font-base;
  background: map-get(global.$color-bg, primary);
  @include global.font-size(16);
}

/* リンクの設定 */
a {
  color: global.$link-color;
  text-decoration: none;
  border: none;
}

a:visited {
  color: global.$link-color-visited;
  text-decoration: none;
}

a:active {
  color: global.$link-color;
  text-decoration: none;
}

a:hover {
  color: global.$link-color;
  text-decoration: underline;
}

/* 行間 */
h1, h2, h3, h4 {
  line-height: global.$line-height-title;
}

p {
  line-height: global.$line-height-text;
}
