// ------------------------------
//　設定
// ------------------------------
$enable-iphonex: true;

// ------------------------------
//　ベース
// ------------------------------

// コンテイナー
$container-lg: 1200px;
$container-md: 960px;
$container-sm: 750px;

// ------------------------------
//　ファイルのパス
// ------------------------------
$root-theme-img: "../../../../themes/uidev/images/";

// ------------------------------
//　カラー【要対応】
// ------------------------------

// リンクカラー
$link-color: #006dd9;
$link-color-visited: #7f5ad7;

// ボタン
$btn-color: #333;
$btn-active-color: #000;

// 角丸
$border-radius-md  : 8px;
$border-radius-lg  : 12px;

// ------------------------------
//　ヘッダー
// ------------------------------
$header-height: 64px;
$global-nav-height: 50px;

// ------------------------------
//　フッターナビ
// ------------------------------
$footer-nav-height: 60px;

// ------------------------------
//　行間
// ------------------------------
$line-height-summary: 1.5;
$line-height-text: 1.7;
$line-height-title: 1.7;
$line-height-text-area: 2;

// ------------------------------
//　エントリー
// ------------------------------
$entry-margin-bottom: 25px;

$entry-element-margin-top: 0;

$entry-element-margin-bottom-sm: 10px !default;
$entry-element-margin-bottom-md: 20px !default;
$entry-element-margin-bottom-lg: 30px !default;

$entry-class: entry-column;
$entry-text-unit: entry-text-unit;

$entry-text-base-color: #333;
$entry-font-weight-normal: 400;
$entry-font-weight-bold: 700;
$entry-color-point-base: #c41134;
$entry-color-border-base: #ccc;
$entry-color-bg-base: #efefef;

$entry-font-size-base: 16;
$entry-font-size-title-sm: 17.6;
$entry-font-size-title-md: 19.2;
$entry-font-size-title-lg: 22.4;

$entry-text-line-height: $line-height-text;
$entry-title-line-height: $line-height-title;

$entry-list-li-bottom-space: 0.25em;
$entry-list-marker-space: 28px;

$entry-dl-space: 18px;
$entry-dl-border: 1px solid $entry-color-border-base;
$entry-dt-border-width: 4px;
$entry-dt-border-space: 10px;

$entry-quote-color: #b3bfc7;

// ------------------------------
//　transition
// ------------------------------
$hover-opacity: 0.7;
$hover-scale: scale(1.1);
$hover-scale-transition: transform 0.3s linear;
$hover-default-opacity: opacity 0.2s;
$hover-text-transition: color 0.2s linear;
