// ------------------------------
// 角丸
// ------------------------------

// 上だけ角丸
@mixin round-top( $radius ){
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
// 下だけ角丸
@mixin round-bottom( $radius ){
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
// 右だけ角丸
@mixin round-right( $radius ){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
// 左だけ角丸
@mixin round-left( $radius ){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
