@use '../global/variables' as var;
@use '../global/functions' as functions;

// ------------------------------
// フォントサイズ
// ------------------------------

@mixin font-size($size, $base: 16, $important: false) {
  & {
    font-size: $size + px functions.if-important($important);

    //font-size: math.div($size, $base) * 1rem functions.if-important($important);

    @media print {
      font-size: $size + px functions.if-important($important);

      //font-size: math.div($size, $base) * 1rem functions.if-important($important);
    }
  }
}
