// 水平グラデーション
@mixin horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
  background-color: $end-color;
  background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
  background-repeat: repeat-x;
}
// 垂直グラデーション
@mixin vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
  background-color: $end-color;
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
  background-repeat: repeat-x;
}
// 指定グラデーション
@mixin directional($start-color: #555, $end-color: #333, $deg: 45deg){
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10
  background-repeat: repeat-x;
}
// 3つ水平グラデーション
@mixin horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f){
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color); // Standard, IE10
  background-repeat: no-repeat;
}
// 3つ垂直グラデーション
@mixin vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f){
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color); // Standard, IE10
  background-repeat: no-repeat;
}
// 円形グラデーション
@mixin radial($inner-color: #555, $outer-color: #333){
  background-image: radial-gradient(circle, $inner-color, $outer-color); // Standard, IE10
  background-repeat: no-repeat;
}
// 縞模様グラデーション
@mixin striped($color: rgba(255,255,255,.15), $angle: 45deg){
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent); // Standard, IE10
}
