// ------------------------------
// 時間変化
// ------------------------------

// transition-property、 transition-duration、 transition-timing-function、 transition-delay の各プロパティの値
@mixin transition($transition) {
  & {
    transition: $transition;
  }
}

// プロパティ
@mixin transition-property($transition-property) {
  & {
    transition-property: $transition-property;
  }
}

// いつ始まるか
@mixin transition-delay($transition-delay) {
  & {
    transition-delay: $transition-delay;
  }
}

// かかる時間
@mixin transition-duration($transition-duration) {
  & {
    transition-duration: $transition-duration;
  }
}

// 時間変化
@mixin transition-transform($transition) {
  & {
    transition: -webkit-transform $transition;
    transition: transform $transition;
  }
}
