// ------------------------------
// 回転
// ------------------------------

// 回転
@mixin rotate($degrees) {
  transform: rotate($degrees);
}

// X軸に回転
@mixin rotateX($degrees) {
  // IE9+
  transform: rotateX($degrees);
}

// Y軸に回転
@mixin rotateY($degrees) {
  // IE9+
  transform: rotateY($degrees);
}
