@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ボタン
------------------------------ */

/* プライマリーカラーなボタン */
.c-btn-primary {
  @include global.btn-base(
    $color-text: map-get(global.$color-btn-primary, text),
    $color-text-hover: map-get(global.$color-btn-primary, text-hover),
    $color-border: map-get(global.$color-btn-primary, border),
    $color-border-hover: map-get(global.$color-btn-primary, border-hover),
    $color-bg: map-get(global.$color-btn-primary, bg),
    $color-bg-hover: map-get(global.$color-btn-primary, bg-hover),
  );
}

.c-btn-arrow {
  display: inline-flex;
  align-items: center;
  color: map-get(global.$color-gray, darker);
  @include global.font-size(14.5);
  background-color: transparent;
  border: none;

  &__icon {
    margin-left: 4px;
    @include global.font-size(13);
  }
}
