@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　フォームパーツ
------------------------------ */
textarea {
  resize: vertical;
}

.c-form-control {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
  color: map-get(global.$color-text, base);
  line-height: global.$line-height-form;
  background-color: map-get(global.$color-form, bg);
  background-clip: padding-box;
  border: 1px solid map-get(global.$color-form, border);
  border-radius: 0;
  outline: 2px solid transparent;
  transition: border-color 0.15s ease-in-out, outline-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  appearance: none;


  &::placeholder {
    color: map-get(global.$color-form, placeholder);
  }

  &:focus {
    outline-color: map-get(global.$color-form, outline-focus);
  }

  &.invalid {
    background-color: map-get(global.$color-form, bg-invalid);
    border-color: map-get(global.$color-form, border-invalid);
  }

  &.-postal-code::before {
    display: inline-block;
    content: '〒';
    @include global.font-size(16);
  }
}

.c-form-control-auto {
  display: inline-block;
  box-sizing: border-box;
  min-width: 50px;
  padding: 0.5em 1em;
  color: map-get(global.$color-text, base);
  line-height: global.$line-height-form;
  background-color: map-get(global.$color-form, bg);
  background-clip: padding-box;
  border: 1px solid map-get(global.$color-form, border);
  border-radius: 0;
  outline: 2px solid transparent;
  transition: border-color 0.15s ease-in-out, outline-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  appearance: none;

  &::placeholder {
    color: map-get(global.$color-form, placeholder);
  }

  &:focus {
    outline-color: map-get(global.$color-form, outline-focus);
  }

  &.invalid {
    background-color: map-get(global.$color-form, bg-invalid);
    border-color: map-get(global.$color-form, border-invalid);
  }

  &.-digit2 {
    width: 53px;
  }

  &.-digit4 {
    width: 75px;
  }
}

.c-form-select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1.5em 0.5em 0.5em;
  color: map-get(global.$color-text, base);
  line-height: global.$line-height-form;
  background-color: map-get(global.$color-form, bg);
  background-image: url('#{global.$root-theme-img}tryangle.svg');
  background-repeat: no-repeat;
  background-position: top 50% right 0.5em;
  background-clip: padding-box;
  border: 1px solid map-get(global.$color-form, border);
  border-radius: 0;
  outline: 2px solid transparent;
  transition: border-color 0.15s ease-in-out, outline-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  appearance: none;

  &::placeholder {
    color: map-get(global.$color-form, placeholder);
  }

  &:focus {
    outline-color: map-get(global.$color-form, outline-focus);
  }

  &.invalid {
    background-color: map-get(global.$color-form, bg-invalid);
    border-color: map-get(global.$color-form, border-invalid);
  }
}

.c-form-check-group {
  display: flex;
  flex-flow: column;

  &.-vertical {
    flex-flow: column;
  }

  &.-horizonal {
    flex-flow: row wrap;
  }
}

.c-form-check {
  display: inline-flex;
  align-items: center;
  min-height: 1.5rem;
  padding: 0.5em 0.5em 0.5em 0;
}

.c-form-check-input {
  width: 1.375em;
  min-width: 1.375em;
  height: 1.375em;
  min-height: 1.375em;
  margin-right: 8px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0;
  appearance: none;

  &[type='checkbox'] {
    background-image: url('#{global.$root-theme-img}icon-check.svg');

    &:focus {
      background-image: url('#{global.$root-theme-img}icon-check-focus.svg');
    }

    &:checked {
      background-image: url('#{global.$root-theme-img}icon-check-checked.svg');
    }
  }

  &[type='radio'] {
    background-image: url('#{global.$root-theme-img}icon-radio.svg');

    &:focus {
      background-image: url('#{global.$root-theme-img}icon-radio-focus.svg');
    }

    &:checked {
      background-image: url('#{global.$root-theme-img}icon-radio-checked.svg');
    }
  }
}

.c-form-check-label {
  cursor: pointer;
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .c-form-check-group {
    flex-flow: row wrap;
  }
}

.c-form-postal-code {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 1em;
    display: inline;
    transform: translateY(-50%);
    content: '〒';
  }

  .c-form-control {
    padding-left: 2.5em;
  }
}

