@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ラベル
------------------------------ */
.c-label {
  @include global.link-unstyled(map-get(global.$color-text, inverse));
  @include global.font-size(10);
  display: inline-block;
  box-sizing: border-box;
  min-width: 84px;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  background: map-get(global.$color-primary, base);
}

.c-label-required {
  @include global.font-size(12);
  box-sizing: border-box;
  padding: 4px 12px;
  color: map-get(global.$color-text, inverse);
  font-weight: bold;
  text-align: center;
  background: map-get(global.$color-primary, base);
}
