@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ページャー
------------------------------ */
.c-serial-nav {

  &__list {
    display: flex;
    @include global.list-unstyled();
  }

  &__item {
    display: flex;
    flex: 1;
  }

  &__link {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
  }

  &__ico {
    @include global.font-size(20);
  }
}
