@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　タイトル
------------------------------ */

/* セクション見出し */
.c-title {
  margin: 0 0 24px 0;

  &.-md {
    line-height: global.$line-height-title;
    @include global.font-size(24);
  }

  &.-inverse {
    color: map-get(global.$color-text, inverse);
  }

}

@media (min-width : acms.$breakpoint-sm-min) {
  .c-title {
    margin-bottom: 40px;
  }
}

/* エラーテキスト */
.c-error-text {
  @include global.font-size(14);
  margin: 8px 0 0 0;
  color: map-get(global.$color-text, emphasis);

  &__ico {
    margin-right: 4px;
  }
}

/* ヘルパーテキスト */
.c-helper-text {
  @include global.font-size(12);
  margin: 8px 0 0 0;
  color: map-get(global.$color-text, light);
}
