@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ユーザー
------------------------------ */
.c-user {
  padding: 20px;
  color: map-get(global.$color-text, base);
  background: map-get(global.$color-bg, inverse);
  border-radius: global.$border-radius-lg;

  &__bio-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__name {
    display: block;
    color: map-get(global.$color-text, base);
    font-weight: bold;

    &:visited,
    &:active,
    &:hover {
      color: map-get(global.$color-text, base);
      text-decoration: none;
    }
  }

  &__bio {
    @include global.font-size(14);
    margin: 16px 0 0 0;
  }
}
