/* ------------------------------
 アラート
------------------------------- */
.acms-alert {
	margin-bottom: 20px;
	padding: $acms-alert-padding;
	color: $acms-alert-black-text-color;
	font-weight: bold;
	background: $acms-alert-black-bg;
	border: 1px solid $acms-alert-black-border;
	border-radius: $acms-alert-border-radius;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
	@include animation(anime1 .5s ease 1 alternate);

	.acms-icon {
		color: $acms-alert-black-icon-color;
	}

	.js-acms-alert-close {
		color: $acms-alert-black-close-color;
	}
}

// アニメーション
@keyframes anime1 {
	0% {
		transform: translate(0,-5px);
		opacity: 0;
	}

	100% {
		transform: translate(0,0);
		opacity: 1;
	}
}

// info
.acms-alert-info {
	color: $acms-alert-info-text-color;
	background: $acms-alert-info-bg;
	border-color: $acms-alert-info-border;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-info-close-color;
	}

	.acms-alert-icon-before {
		color: $acms-alert-info-icon-color;
	}
}

// danger
.acms-alert-danger {
	color: $acms-alert-danger-text-color;
	background: $acms-alert-danger-bg;
	border-color: $acms-alert-danger-border;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-danger-close-color;
	}

	.acms-alert-icon-before {
		color: $acms-alert-danger-icon-color;
	}
}

// warning
.acms-alert-warning {
	color: $acms-alert-warning-text-color;
	background: $acms-alert-warning-bg;
	border-color: $acms-alert-warning-border;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-warning-close-color;
	}
	.acms-alert-icon-before {
		color: $acms-alert-warning-icon-color;
	}
}

// success
.acms-alert-success {
	color: $acms-alert-success-text-color;
	background: $acms-alert-success-bg;
	border-color: $acms-alert-success-border;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-success-close-color;
	}
	.acms-alert-icon-before {
		color: $acms-alert-success-icon-color;
	}
}


.acms-alert-icon {
	position: relative;
	padding: $acms-alert-icon-padding;
}
.acms-alert-icon-before {
	position: absolute;
	left: 20px;
	@include font-size(20);
}
.acms-alert-icon-after {
	position: absolute;
	right: 20px;
	@include font-size(20);
}


// 閉じるボタン
.js-acms-alert-close {
	top: 50%;
	margin-top: -10px;
	padding: 0;
	font-weight: normal;
	line-height: 1;
	background: transparent;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	@include font-size(18);
}
