.acms-loading-bar {
  position: relative;
  height: 4px;
}

.acms-loading-bar-inner {
  width: 0;
  height: 100%;
  background-color: #4BC1FF;
  transition: width 1s;
  transition-delay: 1s;

  &.-alert {
    background-color: red;
  }
}
