/* ------------------------------
 ページャー
------------------------------- */
.acms-pager {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	color: #333;
	list-style: none;
	@include font-size(13);
	@include clearfix();

	// ページ
	li {
		float: left;
		margin-left: 4px;
		text-align: center;
		// 最初の1件
		 &:first-child {
			margin-left: 0;
		}
		// リンク
		> a:link {
			text-decoration: none;
		}
		// ページの見栄え
		span > a,
		 &.cur span,
		 &.cur button,
		> a,
		> button {
			@include button-shape();
			@include button-decoration();
			padding: 14px;
			color: #333;

		}
		 &.cur span,
		 &.cur button {
			text-decoration: none;
			 background-color:#EFEFEF;
			 border: 1px solid $acms-btn-active-border-color;
		}
		// active
		> a:active,
		> button:active {
			background-color:#D0D0D0;
			border: 1px solid $acms-btn-active-border-color;
		}
	}
}

// デスクトップ対応
@media (min-width : $breakpoint-md-min) {
	.acms-pager {
		margin-right: 0;
		margin-left: 0;
		// ページ
		li {
			span > a,
			 &.cur span,
			 &.cur button,
			> a,
			> button {
				@include button-shape(
					$padding: ($acms-form-height - $acms-btn-font-size-desktop -2px)/2 $acms-btn-padding-x
				);
			}
		}
	}
}
