@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　エントリー
------------------------------ */
.#{global.$entry-class} {
  padding: 35px 0;
  overflow: hidden;
  word-break: break-word;
  background: map-get(global.$color-bg, inverse);
  border-radius: global.$border-radius-lg;
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .#{global.$entry-class} {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/*  テキストユニット
------------------------------ */
.#{global.$entry-text-unit} {
  @include global.font-size(global.$entry-font-size-base);
  color: global.$entry-text-base-color;
  font-weight: global.$entry-font-weight-normal;
  word-break: break-word;

  /* 共通余白設定 */
  blockquote {
    margin-right: 0;
    margin-left: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  > blockquote {
    margin-right: (acms.$unit-gutter * 0.5);
    margin-left: (acms.$unit-gutter * 0.5);
  }

  /* リンク */
  a {
    &:link,
    &:hover,
    &:focus,
    &:active {
      color: global.$link-color;
      text-decoration: underline;
    }

    &:visited {
      color: global.$link-color-visited;
    }
  }

  /* 強調 */
  em {
    font-weight: global.$entry-font-weight-normal;
    font-style: italic;
  }

  /* 重要 */
  strong {
    font-weight: global.$entry-font-weight-bold;
    font-style: normal;
  }

  /* コード */
  code {
    padding: 0.2em 0.4em;
    font-size: 0.85em;
    font-family: global.$font-code;
    vertical-align: 0.08em;
    background: #215aa012;
    border-radius: 4px;
  }
}

/* 見出し */
.#{global.$entry-text-unit} {
  h2:not([class]) {
    @include global.font-size(global.$entry-font-size-title-lg);
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    padding: 0;
    font-weight: global.$entry-font-weight-bold;
    line-height: global.$entry-title-line-height;
  }

  h3:not([class]) {
    @include global.font-size(global.$entry-font-size-title-md);
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    padding: 0;
    font-weight: global.$entry-font-weight-bold;
    line-height: global.$entry-title-line-height;
  }

  h4:not([class]) {
    @include global.font-size(global.$entry-font-size-title-sm);
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    font-weight: global.$entry-font-weight-bold;
    line-height: global.$entry-title-line-height;
  }
}

/* アンカーリンク */
.#{global.$entry-text-unit} {
  .c-header-anchor-link {
    position: relative;

    &::before {
      position: absolute;
      top: 0.5em;
      left: -25px;
      display: inline-block;
      width: 14px;
      height: 14px;
      background: map-get(global.$color-gray, base);
      transform: translateY(-50%);
      opacity: 0;
      content: '';
      mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22link%22%20class%3D%22svg-inline--fa%20fa-link%20fa-w-16%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M326.612%20185.391c59.747%2059.809%2058.927%20155.698.36%20214.59-.11.12-.24.25-.36.37l-67.2%2067.2c-59.27%2059.27-155.699%2059.262-214.96%200-59.27-59.26-59.27-155.7%200-214.96l37.106-37.106c9.84-9.84%2026.786-3.3%2027.294%2010.606.648%2017.722%203.826%2035.527%209.69%2052.721%201.986%205.822.567%2012.262-3.783%2016.612l-13.087%2013.087c-28.026%2028.026-28.905%2073.66-1.155%20101.96%2028.024%2028.579%2074.086%2028.749%20102.325.51l67.2-67.19c28.191-28.191%2028.073-73.757%200-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037%2016.037%200%200%201-6.947-12.606c-.396-10.567%203.348-21.456%2011.698-29.806l21.054-21.055c5.521-5.521%2014.182-6.199%2020.584-1.731a152.482%20152.482%200%200%201%2020.522%2017.197zM467.547%2044.449c-59.261-59.262-155.69-59.27-214.96%200l-67.2%2067.2c-.12.12-.25.25-.36.37-58.566%2058.892-59.387%20154.781.36%20214.59a152.454%20152.454%200%200%200%2020.521%2017.196c6.402%204.468%2015.064%203.789%2020.584-1.731l21.054-21.055c8.35-8.35%2012.094-19.239%2011.698-29.806a16.037%2016.037%200%200%200-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639%200-101.83l67.2-67.19c28.239-28.239%2074.3-28.069%20102.325.51%2027.75%2028.3%2026.872%2073.934-1.155%20101.96l-13.087%2013.087c-4.35%204.35-5.769%2010.79-3.783%2016.612%205.864%2017.194%209.042%2034.999%209.69%2052.721.509%2013.906%2017.454%2020.446%2027.294%2010.606l37.106-37.106c59.271-59.259%2059.271-155.699.001-214.959z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    }
  }

  h2:not([class]),
  h3:not([class]),
  h4:not([class]) {
    &:hover .c-header-anchor-link::before {
      opacity: 1;
    }
  }
}

/* 本文 */
.#{global.$entry-text-unit} {
  p:not([class]) {
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    font-weight: global.$entry-font-weight-normal;
    line-height: global.$entry-text-line-height;
  }
}

/* リスト */
.#{global.$entry-text-unit} ul {
  margin: global.$entry-element-margin-top 0 global.$entry-element-margin-bottom-md 0;
  padding: 0 (acms.$unit-gutter * 0.5);

  li {
    position: relative;
    display: block;
    margin: 0 0 global.$entry-list-li-bottom-space 0;
    padding: 0 0 0 global.$entry-list-marker-space;
    font-weight: global.$entry-font-weight-normal;
    line-height: global.$entry-text-line-height;

    &::before {
      position: absolute;
      top: 0.5em;
      left: 12px;
      display: inline-block;
      width: 0px;
      height: 0px;
      border: 3px solid global.$entry-text-base-color;
      border-radius: 50%;
      transform: translateY(50%);
      content: '';
    }

    ul {
      margin: global.$entry-list-li-bottom-space 0;
    }
  }
}

/* 番号付きリスト */
.#{global.$entry-text-unit} ol {
  margin: global.$entry-element-margin-top 0 global.$entry-element-margin-bottom-md 0;
  padding: 0 (acms.$unit-gutter * 0.5);
  list-style: none;
  counter-reset: ol-counter;

  li {
    position: relative;
    margin: 0 0 global.$entry-list-li-bottom-space 0;
    padding: 0 0 0 global.$entry-list-marker-space;
    line-height: global.$entry-text-line-height;

    &:before {
      position: absolute;
      top: 0.4em;
      left: 8px;
      display: inline-block;
      color: global.$entry-text-base-color;
      line-height: 1;
      content: counter(ol-counter) '.';
      counter-increment: ol-counter;
    }

    ol {
      margin-top: global.$entry-list-li-bottom-space;
    }
  }
}

/* 定義リスト */
.#{global.$entry-text-unit} dl {
  margin-top: global.$entry-element-margin-top;
  margin-bottom: global.$entry-element-margin-bottom-lg;
  padding: global.$entry-dl-space 0;
  line-height: global.$entry-text-line-height;
  border-top: global.$entry-dl-border;
  border-bottom: global.$entry-dl-border;

  dt {
    position: relative;
    margin: 0 0 5px 0;
    padding-left: global.$entry-dt-border-space + global.$entry-dt-border-width;
    font-weight: global.$entry-font-weight-bold;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: global.$entry-dt-border-width solid global.$entry-text-base-color;
      content: '';
    }
  }

  dd {
    margin-left: 0;
    padding-left: global.$entry-dt-border-width + global.$entry-dt-border-space;

    & + dt {
      margin-top: global.$entry-dl-space;
      padding-top: global.$entry-dl-space;
      border-top: global.$entry-dl-border;
      &::before {
        top: global.$entry-dl-space;
      }
    }
  }
}

/* 引用 */
[class*='column-quote'] blockquote,
.#{global.$entry-text-unit} blockquote {
  box-sizing: border-box;
  // width: 100%;
  margin-top: global.$entry-element-margin-top;
  margin-bottom: global.$entry-element-margin-bottom-lg;
  padding: 2px 0 2px 0.7em !important; /* acms-adminの上書き */
  line-height: global.$entry-text-line-height;
  border-left: 3px solid global.$entry-quote-color;
}

/* ソースコード */
.#{global.$entry-text-unit} pre {
  box-sizing: border-box;
  margin: global.$entry-element-margin-top (acms.$unit-gutter * 0.5)
    global.$entry-element-margin-bottom-lg (acms.$unit-gutter * 0.5);

  code {
    padding: 0;
    color: map-get(global.$color-text, code);
    background: none;
    border-radius: 0;
  }

  ol {
    margin: 0;
    padding: 0 0 0 2em;
    list-style: decimal;

    li {
      margin: 0 0 3px 0;
      padding-left: 12px;
      line-height: 1.7;

      &::before {
        content: none;
      }
    }
  }
}

/*  テーブルユニット
/*  テキストユニットのテーブル
------------------------------ */
.#{global.$entry-text-unit} table,
[class^='column-table-'] table {
  width: calc(100% - acms.$unit-gutter);
  margin: 0 (acms.$unit-gutter * 0.5) global.$entry-element-margin-bottom-lg;
  border: 0 solid map-get(global.$color-border, base);
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-collapse: collapse;
}

.#{global.$entry-text-unit} th,
[class^='column-table-'] th,
.#{global.$entry-text-unit} td,
[class^='column-table-'] td {
  display: block;
  padding: 5px 10px;
  @include global.font-size(global.$entry-font-size-base);
  line-height: global.$entry-text-line-height;
  border: 0 solid map-get(global.$color-border, base);
  border-top-width: 1px;
  border-left-width: 1px;
}

.#{global.$entry-text-unit} th,
[class^='column-table-'] th {
  font-weight: global.$entry-font-weight-bold;
  background-color: map-get(global.$color-bg, primary);

  &:not([align]) {
    text-align: left;
  }
}

/* テーブルユニット */
[class^='column-table-'] .entry-container {
  margin-bottom: global.$entry-element-margin-bottom-lg;
  overflow-x: auto;
  overflow-y: visible !important;
  -webkit-overflow-scrolling: touch;
  color: map-get(global.$color-text, base);


  /* entry-containerで余白を保つため打ち消し */
  table {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

/* テキストユニットでのテーブル */
/* entry-containerで余白を保つため打ち消し */
.#{global.$entry-text-unit} .entry-container table {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/* スクロールするテーブル */
[class^='column-table-'],
.#{global.$entry-text-unit} {
  .acms-table-scrollable,
  .js-table-unit-scroll-hint {
    th,
    td {
      display: table-cell;
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .#{global.$entry-text-unit} th,
  [class^='column-table-'] th,
  .#{global.$entry-text-unit} td,
  [class^='column-table-'] td {
    display: table-cell;
  }
}

/*  エントリー内要素
------------------------------ */
/* キャプション */
.#{global.$entry-class} {
  [class*='column-media'] {
    .caption {
      @include global.font-size(13);
      line-height: 1.4;
    }
  }
}

/* エントリー
=============================== */

/* エントリー内ナビゲーション
=============================== */
.p-nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: global.$z-index-nav-bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: global.$footer-nav-height;
  padding: 8px;
  background: map-get(global.$color-bg, inverse);
  border-top: solid 1px map-get(global.$color-border, lighter);
  border-bottom: solid 1px map-get(global.$color-border, lighter);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include global.list-unstyled();
  }

  &__item {
    position: relative;
    display: flex;
    flex: 1;
    flex-flow: column;
    gap: 4px;
    align-items: center;
  }

  &__ico {
    @include global.font-size(26);
  }

  &__text {
    @include global.font-size(12);
  }

  &__content {
    position: absolute;
    bottom: 120%;
    width: 300px;
    max-width: 90vw;
  }
}

/* エントリーヘッダー
=============================== */
.p-entry-header {
  padding: 30px 48px;
  text-align: center;

  &__title {
    @include global.font-size(20);
    display: inline-block;
    max-width: 780px;
    margin: 0 auto;
    color: map-get(global.$color-text, base);
    text-align: left;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: map-get(global.$color-gray, darker);
    @include global.font-size(14);
  }
}
