@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　エントリー
------------------------------ */
.#{global.$entry-class} {
  padding: 35px 0;
  overflow: hidden;
  word-break: break-word;
  background: map-get(global.$color-bg, white);
  border-radius: global.$border-radius-lg;
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .#{global.$entry-class} {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/*  テキストユニット
------------------------------ */
.#{global.$entry-text-unit} {
  @include global.font-size(global.$entry-font-size-base);
  color: global.$entry-text-base-color;
  font-weight: global.$entry-font-weight-normal;
  word-break: break-word;

  /* 共通余白設定 */
  blockquote {
    margin-right: 0;
    margin-left: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  > blockquote {
    margin-right: (acms.$unit-gutter / 2);
    margin-left: (acms.$unit-gutter / 2);
  }

  /* リンク */
  a {
    &:link,
    &:hover,
    &:focus,
    &:active {
      color: global.$link-color;
      text-decoration: underline;
    }

    &:visited {
      color: global.$link-color-visited;
    }
  }

  /* 強調 */
  em {
    font-weight: global.$entry-font-weight-normal;
    font-style: italic;
  }

  /* 重要 */
  strong {
    font-weight: global.$entry-font-weight-bold;
    font-style: normal;
  }

  /* コード */
  code {
    padding: 0.2em 0.4em;
    font-size: 0.85em;
    font-family: global.$font-code;
    vertical-align: 0.08em;
    background: #215aa012;
    border-radius: 4px;
  }
}

/* 見出し */
.#{global.$entry-text-unit} {
  h2:not([class]) {
    @include global.font-size(global.$entry-font-size-title-lg);
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    padding: 0;
    overflow: hidden;
    font-weight: global.$entry-font-weight-bold;
    line-height: global.$entry-title-line-height;
  }

  h3:not([class]) {
    @include global.font-size(global.$entry-font-size-title-md);
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    padding: 0;
    overflow: hidden;
    font-weight: global.$entry-font-weight-bold;
    line-height: global.$entry-title-line-height;
  }

  h4:not([class]) {
    @include global.font-size(global.$entry-font-size-title-sm);
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    overflow: hidden;
    font-weight: global.$entry-font-weight-bold;
    line-height: global.$entry-title-line-height;
  }
}

/* 本文 */
.#{global.$entry-text-unit} {
  p:not([class]) {
    margin-top: global.$entry-element-margin-top;
    margin-bottom: global.$entry-element-margin-bottom-md;
    font-weight: global.$entry-font-weight-normal;
    line-height: global.$entry-text-line-height;
  }
}

/* リスト */
.#{global.$entry-text-unit} ul {
  margin: global.$entry-element-margin-top 0
    global.$entry-element-margin-bottom-md 0;
  padding: 0 (acms.$unit-gutter / 2);

  li {
    position: relative;
    display: block;
    margin: 0 0 global.$entry-list-li-bottom-space 0;
    padding: 0 0 0 global.$entry-list-marker-space;
    font-weight: global.$entry-font-weight-normal;
    line-height: global.$entry-text-line-height;

    &::before {
      position: absolute;
      top: 0.5em;
      left: 12px;
      display: inline-block;
      width: 0px;
      height: 0px;
      border: 3px solid global.$entry-text-base-color;
      border-radius: 50%;
      transform: translateY(50%);
      content: "";
    }

    ul {
      margin: global.$entry-list-li-bottom-space 0;
    }
  }
}

/* 番号付きリスト */
.#{global.$entry-text-unit} ol {
  margin: global.$entry-element-margin-top 0
    global.$entry-element-margin-bottom-md 0;
  padding: 0 (acms.$unit-gutter / 2);
  list-style: none;
  counter-reset: ol-counter;

  li {
    position: relative;
    margin: 0 0 global.$entry-list-li-bottom-space 0;
    padding: 0 0 0 global.$entry-list-marker-space;
    line-height: global.$entry-text-line-height;

    &:before {
      position: absolute;
      top: 0.4em;
      left: 8px;
      display: inline-block;
      color: global.$entry-text-base-color;
      line-height: 1;
      content: counter(ol-counter) ".";
      counter-increment: ol-counter;
    }

    ol {
      margin-top: global.$entry-list-li-bottom-space;
    }
  }
}

/* 定義リスト */
.#{global.$entry-text-unit} dl {
  margin-top: global.$entry-element-margin-top;
  margin-bottom: global.$entry-element-margin-bottom-lg;
  padding: global.$entry-dl-space 0;
  line-height: global.$entry-text-line-height;
  border-top: global.$entry-dl-border;
  border-bottom: global.$entry-dl-border;

  dt {
    position: relative;
    margin: 0 0 5px 0;
    padding-left: global.$entry-dt-border-space + global.$entry-dt-border-width;
    font-weight: global.$entry-font-weight-bold;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: global.$entry-dt-border-width solid
        global.$entry-text-base-color;
      content: "";
    }
  }

  dd {
    margin-left: 0;
    padding-left: global.$entry-dt-border-width + global.$entry-dt-border-space;

    & + dt {
      margin-top: global.$entry-dl-space;
      padding-top: global.$entry-dl-space;
      border-top: global.$entry-dl-border;
      &::before {
        top: global.$entry-dl-space;
      }
    }
  }
}

/* 引用 */
[class*="column-quote"] blockquote,
.#{global.$entry-text-unit} blockquote {
  box-sizing: border-box;
  // width: 100%;
  margin-top: global.$entry-element-margin-top;
  margin-bottom: global.$entry-element-margin-bottom-lg;
  padding: 2px 0 2px 0.7em !important; /* acms-adminの上書き */
  line-height: global.$entry-text-line-height;
  border-left: 3px solid global.$entry-quote-color;
}

/* ソースコード */
.#{global.$entry-text-unit} pre {
  box-sizing: border-box;
  width: 100%;
  margin: global.$entry-element-margin-top (acms.$unit-gutter / 2)
    global.$entry-element-margin-bottom-lg (acms.$unit-gutter / 2);

  ol {
    margin: 0;
    padding: 0 0 0 2em;
    list-style: decimal;

    li {
      margin: 0 0 3px 0;
      padding-left: 12px;
      line-height: 1.7;

      &::before {
        content: none;
      }
    }
  }
}

/*  テーブルユニット
/*  テキストユニットのテーブル
------------------------------ */
.#{global.$entry-text-unit} table,
[class^="column-table-"] table {
  width: calc(100% - acms.$unit-gutter);
  margin: 0 (acms.$unit-gutter / 2) global.$entry-element-margin-bottom-lg;
  border: 0 solid map-get(global.$color-border, base);
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-collapse: collapse;
}

.#{global.$entry-text-unit} th,
[class^="column-table-"] th,
.#{global.$entry-text-unit} td,
[class^="column-table-"] td {
  display: block;
  padding: 5px 10px;
  @include global.font-size(global.$entry-font-size-base);
  line-height: global.$entry-text-line-height;
  border: 0 solid map-get(global.$color-border, base);
  border-top-width: 1px;
  border-left-width: 1px;
}

.#{global.$entry-text-unit} th,
[class^="column-table-"] th {
  font-weight: global.$entry-font-weight-bold;
  background-color: map-get(global.$color-bg, primary);

  &:not([align]) {
    text-align: left;
  }
}

/* テーブルユニット */
[class^="column-table-"] .entry-container {
  margin-bottom: global.$entry-element-margin-bottom-lg;
  overflow-x: auto;
  overflow-y: visible !important;
  -webkit-overflow-scrolling: touch;

  /* entry-containerで余白を保つため打ち消し */
  table {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

/* テキストユニットでのテーブル */
/* entry-containerで余白を保つため打ち消し */
.#{global.$entry-text-unit} .entry-container table {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/* スクロールするテーブル */
[class^="column-table-"],
.#{global.$entry-text-unit} {
  .acms-table-scrollable,
  .js-table-unit-scroll-hint {
    th,
    td {
      display: table-cell;
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .#{global.$entry-text-unit} th,
  [class^="column-table-"] th,
  .#{global.$entry-text-unit} td,
  [class^="column-table-"] td {
    display: table-cell;
  }
}

/*  エントリー内要素
------------------------------ */
/* キャプション */
.#{global.$entry-class} {
  [class*="column-media"] {
    .caption {
      @include global.font-size(13);
      line-height: 1.4;
    }
  }
}

/* エントリー
=============================== */

/* エントリー内ナビゲーション
=============================== */
.p-nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: global.$nav-bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: global.$footer-nav-height;
  padding: 8px;
  background: map-get(global.$color-bg, white);
  border-top: solid 1px map-get(global.$color-border, lighter);
  border-bottom: solid 1px map-get(global.$color-border, lighter);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include global.list-unstyled();
  }

  &__item {
    display: flex;
    flex: 1;
    flex-flow: column;
    gap: 4px;
    align-items: center;
  }

  &__ico {
    @include global.font-size(26);
  }

  &__text {
    @include global.font-size(12);
  }
}

/* エントリーヘッダー
=============================== */
.p-entry-header {
  padding: 30px 48px;
  text-align: center;

  &__title {
    display: inline-block;
    max-width: 780px;
    margin: 0 auto;
    text-align: left;
    @include global.font-size(20);
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: map-get(global.$color-gray, darker);
    @include global.font-size(14);
  }
}
