@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　フッター
------------------------------ */
.p-footer {
  background: map-get(global.$color-bg, white);

  &__copyright {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid map-get(global.$color-border, base);
  }
}
