@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ヘッダー
------------------------------ */
.p-header {
  height: 100%;
  background-color: map-get(global.$color-bg, white);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 acms.$grid-space;
  }
}

/* ヘッダーロゴ
=============================== */
.p-site-title__wrap {
  h1,
  p {
    margin: 0;
  }
}

.p-site-title {
  display: block;
  width: 94px;
  height: 22px;
  &__img {
    height: inherit;
  }
}

/* 検索アイコン
=============================== */
.p-header-search {
  &__link {
    display: block;
  }

  &__ico {
    color: map-get(global.$color-gray, darker);
    @include global.font-size(23);
  }
}
