@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;


/* ------------------------------
　　もっと見るボタン
------------------------------ */
.p-more-btn__wrap {
  display: flex;
  grid-column: span 2;
  justify-content: center;
}

.p-more-btn {
  width: 100%;
  max-width: 600px;
  height: 48px;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .p-more-btn__wrap {
    grid-column: span 3;
  }
}
