@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ナビゲーション
------------------------------ */
/* グローバルナビ PC
=============================== */
.navbar {
	display: none;
	width: 100%;

	 &.acms-admin-module-edit-wrapper {
		// ログインしているとき、下階層ナビゲーションを非表示にさせない対応
		z-index: 1;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		a {
			display: block;
			padding: 10px;
			color: #333;
			font-weight: bold;
			@include global.font-size(16);
			 &:hover,
			 &:focus,
			 &:active {
				color: #FFF;
				text-decoration: none;
				background: map-get(global.$color-primary, base);
			}
		}
	}
}
@media (min-width : acms.$breakpoint-lg-min) {
	.navbar {
		display: inline-block;
		vertical-align: middle;
		 & > ul {
			display: flex;
		 	place-content: center flex-end;
		 	flex-wrap: wrap;
			float: right;
			padding: 0;
			list-style: none;
		}

		li {
			position: relative;
			display: flex;
			float: left;
			margin: 0 10px;
			text-align: center;
			vertical-align: middle;
			place-items: center;
			ul { /* 二階層目 */
				position: absolute;
					top: 100%;
					left: 0;
				display: none;
				min-width: 200px;
			}
			li {
				margin: 0;
			}
			a { /* 一階層目のリンクのみ */
				padding: 0;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
        transition: border .25s ease-out;
				 &:hover,
				 &:focus,
				 &:active {
					color: #333;
					background: transparent;
				}
			}
			 &.stay {
				a { /* 一階層目のリンクのみ */
					border-bottom: 4px solid map-get(global.$color-primary, base);
				}
			}
			 &:hover {
				ul { /* 二階層目 */
					z-index: 10000;
					display: block;
					@include acms.animation(0.8s fade-in);
				}
				a { /* 一階層目のリンクのみ */
					border-bottom: 4px solid map-get(global.$color-primary, base);
				}
				li {
					a {
						border: 0;
					}
				}
			}
			li { /* 二階層目以降 */
				display: block;
				float: none;
				text-align: left;
				background: map-get(global.$color-primary, base);
				border: 0;
				border-top: 1px solid map-get(global.$color-primary, base-hover);
				 &:first-child {
					border: 0;
				}
				a {
					margin: 0;
					padding: 10px 15px;
					color: #FFF;
					border: 0;
					 &:hover {
						color: #FFF;
						background: map-get(global.$color-primary, base-hover);
						border: 0;
					}
				}
			}
		}
	}
}

@media (min-width : acms.$breakpoint-lg-min) {
	.navbar {
		ul {
			li {
				a {
					@include global.font-size(14);
				}
			}
		}
	}
}
@media (min-width : acms.$breakpoint-xl-min) {
	.navbar {
		ul {
			li {
				a {
					@include global.font-size(16);
				}
			}
		}
	}
}

/* グローバルナビ SP
=============================== */
@media (max-width : acms.$breakpoint-lg-max) {
	.is-locked {
		overflow: hidden;
	}
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: global.$global-nav-height;
  background-color: #fff;
  opacity: 0;
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-duration: .3s;
  transition-property: all;

  &.is-active {
    display: block;
  }

  &.is-opened {
    opacity: 1;
  }
}

.mobile-nav-wrap {
  display: flex;
  align-items: flex-start;
  // box-sizing: border-box; // declaration-block-no-duplicate-properties 防止コメントアウト
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mobile-nav-inner {
  padding: 0 20px;

  & + .mobile-nav-inner {
    border-top: 1px solid #CCC;
  }
}

.mobile-navbar {
  width: 100%;
}

.mobile-navbar-list {
  display: block;
  margin: 20px 0;
  padding: 0;
  line-height: 2.4;
  list-style: none;
  @include global.font-size(18);

  li {
    display: block;
  }

  .navbar-btn {
    margin-top: 10px;
  }

  a {
    display: block;
  }

  a,
  a:hover,
  a:visited,
  a:active,
  a:focus {
    color: #333;
  }

  // 下階層は表示しない
  .mobile-navbar-list {
    margin: -5px 0 10px 10px;
    line-height: 2;
    @include global.font-size(14);

    a,
    a:hover,
    a:visited,
    a:active,
    a:focus {
      color: #666;
    }
  }

}


.mobile-nav-side {
  margin:  20px 0;
}

.mobile-nav-side-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav-side-item {
  display: block;
  margin: 0 0 10px 0;
}
.mobile-nav-side-link {
  display: block;
  color: #333;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: #333;
  }
}

.mobile-navbar-footer {
  margin: 15px 0 0 0;

  .sns-list {
    margin: 0 0 30px;
  }
}
