@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　サブカラム
------------------------------ */
.p-sub-column {
  &__inner {
    display: flex;
    flex-flow: column;
    gap: 24px;
    max-height: calc(100vh - 30px);
  }
}

/* タグ
=============================== */
.p-sub-column__tags {
  display: none;
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .p-sub-column__tags {
    display: block;
  }
}

/* 目次
=============================== */
.p-sub-column__toc {
  display: none;
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .p-sub-column__toc {
    display: block;
  }
}
