@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　トピックパス
------------------------------ */

.p-topicpath {
  display: flex;
  margin: 0;
  padding: 10px 0;
  overflow: auto;
  white-space: nowrap;
  list-style: none;

  &__item {
    &::before {
      padding: 0 10px;
      content: " / ";
    }
    &:first-child {
      &::before {
        content: none;
      }
    }
  }
  &__link {
    color: map-get(global.$color-text, gray);
    @include global.font-size(14);
    &:visited,
    &:focus,
    &:active {
      color: map-get(global.$color-text, gray);
    }
  }
}
