@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　トピックパス
------------------------------ */

.p-topicpath {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: auto;
  white-space: nowrap;
  list-style: none;

  &__wrap {
    background: map-get(global.$color-bg, white);
  }

  &__item {
    color: map-get(global.$color-text, gray);
    @include global.font-size(14);
    &::before {
      padding: 0 10px;
      content: " / ";
    }
    &:first-child {
      &::before {
        content: none;
      }
    }
  }
  &__link {
    @include global.link-unstyled();
  }
}
