@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

$_article-horizonal-space: 8px;

/* ------------------------------
　　記事
------------------------------ */
.c-articles-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 16px;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .c-articles-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 24px;
  }
}

.c-article {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  background: map-get(global.$color-bg, white);
  border-radius: global.$border-radius-md;
  box-shadow: 0 3px 6px -2px global.$color-shadow;

  &.-transparent {
    background: transparent;
    box-shadow: none;
  }

  &__category-label {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;
    padding: 2px 5px;
    color: map-get(global.$color-text, inverse);
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    background: map-get(global.$color-primary, base);
    border-radius: 10px;
    @include global.font-size(10);
  }

  &__link {
    @include global.link-unstyled();
    flex: 1;
    color: map-get(global.$color-text, base);
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      padding-top: percentage(630 / 1200);
      content: "";
    }
  }

  &__img {
    position: absolute;
    inset: 0;
  }

  &__title-wrap {
    padding: 12px $_article-horizonal-space 0;
  }

  &__title {
    margin: 0;
    @include global.font-size(14);
  }

  &__tag-group {
    margin: 0;
    padding: 4px $_article-horizonal-space 0;
  }

  &__tag {
    display: inline-block;
    margin: 4px 8px 4px 0;
    padding: 2px 5px;
    color: map-get(global.$color-text, gray);
    background: map-get(global.$color-bg, primary);
    border-radius: 4px;
    @include global.font-size(10);

    &:visited,
    &:active,
    &:hover {
      color: map-get(global.$color-text, gray);
      text-decoration: none;
    }
  }

  &__foot {
    padding: 12px $_article-horizonal-space 16px;
    color: map-get(global.$color-text, gray);
    @include global.font-size(11);
  }
}

/* タグがなかったとき */
.c-article__tag:empty {
  display: none;
  .c-article__tag-group {
    display: none;
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .c-article {
    &__category-label {
      top: 12px;
      left: 12px;
      z-index: 10;
      padding: 3px 6px;
    }
  }
}
