@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　ボタン
------------------------------ */

/* プライマリーカラーなボタン */
.c-btn-primary {
  @include global.btn-base(
    $color-text: map-get(global.$color-btn-primary, text),
    $color-text-hover: map-get(global.$color-btn-primary, text-hover),
    $color-border: map-get(global.$color-btn-primary, border),
    $color-border-hover: map-get(global.$color-btn-primary, border-hover),
    $color-bg: map-get(global.$color-btn-primary, bg),
    $color-bg-hover: map-get(global.$color-btn-primary, bg-hover),
  );
  width: 100%;
}
