@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

$_card-title-font-size: 16;
$_card-title-line-height: 1.5;
$_card-label-space: 5px;
$_card-summary-font-size: 12;
$_card-summary-color: map-get(global.$color-text, base);
$_card-summary-line-height: 1.5;
$_card-label-font-size: 13;
$_card-line-item-labels-summary-top-space: 8px;

/* ------------------------------
　　カード型
------------------------------ */
.c-card {
  $parent: &;

  @include global.hover-opacity();
  display: block;
  background-color: map-get(global.$color-bg, base);
  border: 2px solid #CCC;

  &:hover {
    #{$parent}__img {
      transform: global.$hover-scale;
    }
  }

  &__img-wrap {
    width: 100% !important; /* ループクラス上書き */
    height: auto !important; /* ループクラス上書き */
    overflow: hidden;
  }

  &__img {
    @include global.responsive-image();
    width: 100%;
    transition: global.$hover-scale-transition;
  }

  &__text-contents {
    padding: 10px;
  }

  &__date {
    display: block;
    margin: 0 0 5px;
    color: $_card-summary-color;
    font-weight: global.$font-base-weight;
  }

  &__title {
    @include global.font-size($_card-title-font-size);
    margin: 0;
    color: map-get(global.$color-text, base);
    font-weight: global.$font-base-weight-bold;
    line-height: $_card-title-line-height;
  }

  &__labels {
    @include global.list-unstyled();
    @include global.font-size(0);
  }

  &__label-item {
    @include global.font-size($_card-label-font-size);
    display: inline-block;
    margin: $_card-line-item-labels-summary-top-space $_card-label-space 0 0;
  }

  &__summary {
    @include global.font-size($_card-summary-font-size);
    margin: $_card-line-item-labels-summary-top-space 0 0;
    color: $_card-summary-color;
    line-height: $_card-summary-line-height;
  }
}
