@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

@use "sass:math";

$_step-height: 48px;
$_step-height-wide-screen: 67px;
$_step-bg-color: map-get(global.$color-bg, step);
$_step-bg-color-current: map-get(global.$color-primary, base);
$_step-arrow-length: 16px;
$_step-arrow-length-wide-screen: 24px;
$_step-gap: 8px;

/* ------------------------------
　　ステップ
------------------------------ */
.c-step {
  @include global.list-unstyled();
  $parent: &;
  display: flex;
  height: $_step-height;
  margin-right: math.div($_step-gap, -2);
  margin-bottom: global.$component-margin-bottom;
  margin-left: math.div($_step-gap, -2);

  &__item {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: math.div($_step-gap, 2);
    margin-left: math.div($_step-gap, 2);
    color: map-get(global.$color-text, inverse);
    font-weight: bold;

    &:not(:last-child) {
      padding-right: $_step-arrow-length;
    }

    &:not(:first-child) #{$parent}__content::before,
    &:not(:last-child) #{$parent}__content::after {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;
      border-style: solid;
      border-width: 0;
      border-top-width: math.div($_step-height, 2);
      border-bottom-width: math.div($_step-height, 2);
      content: '';
    }

    &:not(:first-child) #{$parent}__content::before {
      right: 100%;
      border-color: $_step-bg-color;
      border-right-color: transparent;
      border-right-width: $_step-arrow-length;
      transform: rotate(180deg);
    }

    &:not(:last-child) #{$parent}__content::after {
      right: 0;
      border-left-color: $_step-bg-color;
      border-left-width: $_step-arrow-length;
    }

    &.-current {
      #{$parent}__content {
        background: $_step-bg-color-current;
      }

      &:not(:first-child) #{$parent}__content::before {
        border-top-color: $_step-bg-color-current;
        border-bottom-color: $_step-bg-color-current;
      }
      &:not(:last-child) #{$parent}__content::after {
        border-left-color: $_step-bg-color-current;
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    background: $_step-bg-color;
  }

  &__count {
    @include global.font-size(12);
  }

  &__text {
    @include global.font-size(14);

    &.-wide-screen {
      @include global.font-size(16);
      display: none;
    }
  }

  + .p-entry {
    margin-top: 0 !important;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .c-step {
    $parent: &;
    height: $_step-height-wide-screen;
    margin-bottom: global.$component-margin-bottom-wide-screen;

    &__item {
      &:not(:last-child) {
        padding-right: $_step-arrow-length-wide-screen;
      }

      &:not(:first-child) #{$parent}__content::before,
      &:not(:last-child) #{$parent}__content::after {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        border-style: solid;
        border-width: 0;
        border-top-width: math.div($_step-height-wide-screen, 2);
        border-bottom-width: math.div($_step-height-wide-screen, 2);
        content: '';
      }

      &:not(:first-child) #{$parent}__content::before {
        border-right-width: $_step-arrow-length-wide-screen;
      }

      &:not(:last-child) #{$parent}__content::after {
        border-left-width: $_step-arrow-length-wide-screen;
      }
    }

    &__content {
      align-items: flex-start;
      padding: 16px;
    }

    &__count {
      @include global.font-size(14);
    }

    &__text {
      display: none;

      &.-wide-screen {
        display: block;
      }
    }

    + .p-entry {
      margin-bottom: 40px;
    }
  }
}
