@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　タグ
------------------------------ */
.c-tags {
  position: fixed;
  bottom: 80px;
  left: 8px;
  z-index: global.$z-index-popup-target;
  display: none;
  box-sizing: border-box;
  max-width: 90vw;
  max-height: calc(100vh - 130px);
  padding: 15px 20px;
  background: map-get(global.$color-bg, white);
  border-radius: global.$border-radius-lg;
  box-shadow: 0 5px 15px #001b443b;

  &__title {
    margin: 0;
    font-weight: bold;
    @include global.font-size(16);
  }

  &__contents {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
  }

  &__tag {
    display: inline-block;
    padding: 0.3em;
    border: solid 1px map-get(global.$color-border, base);
    border-radius: global.$border-radius-lg;
    @include global.font-size(12);
  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .c-tags {
    position: static;
    display: block;
    max-width: initial;
    box-shadow: none;
  }
}

.c-tag {
  display: inline-block;
  padding: 0.3em;
  border: solid 1px map-get(global.$color-border, base);
  border-radius: global.$border-radius-lg;
  @include global.font-size(12);

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
