@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　目次
------------------------------ */
.c-toc {
  position: fixed;
  right: 8px;
  bottom: 80px;
  z-index: global.$z-index-popup-target;
  box-sizing: border-box;
  width: 300px;
  max-width: 90vw;
  max-height: calc(100vh - 130px);
  padding: 15px 20px;
  overflow: auto;
  color: map-get(global.$color-text, base);
  word-break: break-word;
  background: map-get(global.$color-bg, inverse);
  border-radius: global.$border-radius-lg;
  box-shadow: 0 5px 15px #001b443b;

  &__title {
    margin: 0;
    font-weight: bold;
    @include global.font-size(16);
  }

  &__toc {
    margin: 0 0 0 -12px;
  }

  &__list {
    @include global.list-unstyled();
  }

  &__item {
    padding: 0 0 0 12px;
  }

  &__link {
    position: relative;
    display: block;
    padding: 4px 0 4px 12px;
    color: map-get(global.$color-text, base);
    @include global.font-size(14);

    &::before {
      position: absolute;
      top: 0.5em;
      left: 0;
      display: inline-block;
      width: 0px;
      height: 0px;
      border: 3px solid map-get(global.$color-primary, base);
      border-radius: 50%;
      transform: translateY(50%);
      content: '';
    }

    &:visited,
    &:active,
    &:hover {
      color: map-get(global.$color-text, base);
      text-decoration: none;
    }

    &.is-active-link {
      font-weight: normal;
      background: map-get(global.$color-primary, lightest);
    }
  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .c-toc {
    position: static;
    display: block !important;
    width: auto;
    max-width: initial;
    max-height: initial;
    box-shadow: none;
  }
}
