@use "../../foundation/global/acms-common" as acms;
@use "../../foundation/global/common" as global;

/* ------------------------------
　　タイトル
------------------------------ */

/* セクション見出し */
.c-title {
  margin: 0 0 24px 0;

  &.-md {
    line-height: global.$line-height-title;
    @include global.font-size(24);
  }

  &.-inverse {
    color: map-get(global.$color-text, inverse);
  }

}

@media (min-width : acms.$breakpoint-sm-min) {
  .c-title {
    margin-bottom: 40px;
  }
}
