<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" -->

<!-- モジュール編集ボタン -->
@include("/include/edit/module-custom-box2.html")

<div class="js-images-loaded-container">
  <!-- BEGIN notFound -->
  <p class="c-text-warning">ただいまページを準備しております。もうしばらくお待ちください。</p>
  <!-- END notFound -->

  <ul class="l-list-column-acms clearfix js-masonry-grid">
    <!-- BEGIN unit:loop -->
    <!-- BEGIN entry:loop -->
    <li class="l-list-column-acms__item <!-- BEGIN_IF [{entry:loop.class}/nem] -->{entry:loop.class}<!-- ELSE -->acms-col-6 acms-col-sm-4<!-- END_IF --> js-masonry-grid-item">
      <a href="{url}" class="js-viewing-indelible c-card">

        <!-- 画像コンテンツ -->
        @include("/include/module/parts/Entry_Summary/card/img-contents.html")

        <!-- BEGIN text_contents:veil -->
        <div class="c-card__text-contents">
          <!-- テキストコンテンツ -->
          @include("/include/module/parts/Entry_Summary/card/text-contents-nodate.html")
        </div>
        <!-- END text_contents:veil -->

      </a>
    </li>
    <!-- END entry:loop -->
    <!-- END unit:loop -->
  </ul>
</div>

<!-- ページャー -->
@include("/include/parts/pager.html")
<!-- END_MODULE Entry_Summary -->
