<!-- BEGIN_MODULE Admin_Entry_Index -->
<header>
  <div>
    @include("/admin/topicpath.html")
  </div>
  <div class="acms-admin-page-header-detail">
    <div class="acms-admin-page-header-title">
      <h1 class="acms-admin-admin-title js-dialog-title"><!--T-->エントリー管理<!--/T--></h1>
    </div>
    <!-- BEGIN_MODULE Touch_SessionWithAdministration -->
    <div class="acms-admin-page-header-side">
      <p class="acms-admin-page-header-btn"><a href="%{HTTP_ROOT}bid/%{BID}/admin/entry_import/" class="acms-admin-btn">インポート</a></p>
    </div>
    <!-- END_MODULE Touch_SessionWithAdministration -->
  </div>
</header>

<!-- BEGIN refresh -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info"><span
  class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
  <button class="js-acms-alert-close acms-admin-alert-icon-after">×</button><!--T-->エントリー一覧を更新しました。<!--/T-->
</p><!-- END refresh -->


<!-- BEGIN errorMessage -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-danger"><span
  class="acms-admin-icon acms-admin-icon-attention acms-admin-alert-icon-before" aria-hidden="true"></span>
  <button class="js-acms-alert-close acms-admin-alert-icon-after">×</button><!--T-->
  子ブログのカテゴリーをグローバル（共有）カテゴリーではないものに変更することはできません。<!--/T--></p>
<!-- END errorMessage -->

<!-- BEGIN_MODULE Admin_Errors -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-danger">
  <span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
  <button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
  {error}
</p>
<!-- END_MODULE Admin_Errors -->

<!-- BEGIN_MODULE Admin_Messages -->
<!-- BEGIN message:loop -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info">
	<span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
	{message}
</p>
<!-- END message:loop -->
<!-- END_MODULE Admin_Messages -->

<!-- BEGIN_IF [<!-- BEGIN index#notFound -->1<!-- END index#notFound -->/neq/1/_or_/%{CURRENT_ROOT}/neq//bid/%{BID}/admin/%{ADMIN}] -->
<div class="acms-admin-filter">
  <form action="" method="post" class="acms-admin-form">

    @section("entry-index-filter")
    <div class="acms-admin-filter-body">
      @include("/admin/entry/filter.html")
    </div>
    <div class="acms-admin-filter-footer acms-admin-margin-top-sp">
      <input type="hidden" name="query[]" value="axis"/>
      <input type="hidden" name="bid" value="%{BID}"/>
      <input type="hidden" name="ACMS_POST_2GET" value="post"/>
      <div>
        <button type="submit" name="admin" value="entry_index" class="acms-admin-btn-admin acms-admin-btn-admin-info acms-admin-btn-admin-search acms-admin-margin-top-bottom-small-sp">
          <!--T-->検索<!--/T-->
        </button>
        <!-- BEGIN_MODULE Touch_SessionWithAdministration -->
        <button type="submit" name="admin" value="entry_bulk-change" class="acms-admin-btn-admin acms-admin-btn-admin-search acms-admin-margin-top-bottom-small-sp">
          <!--T-->まとめて操作<!--/T-->
        </button>
        <!-- END_MODULE Touch_SessionWithAdministration -->
      </div>

      <p class="acms-admin-filter-detail-btn"><a href="#search-detail" class="js-fader js-fader-storage"><span
        class="acms-admin-icon-arrow-right"></span><!--T-->詳細検索<!--/T--></a></p>
    </div>
    @endsection
  </form>
</div><!-- /.acms-filter -->
<!-- END_IF -->

<!-- BEGIN_IF [<!-- BEGIN index#notFound -->1<!-- END index#notFound -->/eq/1/_and_/%{CURRENT_ROOT}/neq//bid/%{BID}/admin/%{ADMIN}] -->
<div class="acms-admin-announce">
  <h2 class="acms-admin-announce-title"><span class="acms-admin-icon acms-admin-icon-news"></span><!--T-->該当するエントリーが見つかりませんでした<!--/T--></h2>
  <p class="acms-admin-announce-text"><!--T-->検索内容に一致したエントリーはありませんでした。<br>再検索または新規作成してください。<!--/T--></p>
  <div class="acms-admin-announce-action">
    <div class="js-fake-form" data-method="post">
      <div class="js-admin-category-select acms-admin-select2 is-single" data-creation="false"
           style="display: inline-block;">
        <div class="js-target"></div>
        <input type="hidden" name="cid" value="%{CID}" class="js-value">
      </div>
      <input type="hidden" name="ACMS_POST_2GET" value="on"/>
      <input type="hidden" name="admin" value="entry_editor"/>
      <input type="hidden" name="bid" value="%{BID}"/>
      <button class="js-submit acms-admin-btn acms-admin-btn-success" style="vertical-align: top;"><!--T-->エントリー作成<!--/T--></button>
    </div>
  </div>
</div>
<!-- ELSE -->
<!-- BEGIN index#notFound -->
<div class="acms-admin-announce">
  <h2 class="acms-admin-announce-title"><span class="acms-admin-icon acms-admin-icon-news"></span><!--T-->エントリーがありません<!--/T--></h2>
  <p class="acms-admin-announce-text"><!--T-->新しくエントリーを作成してください。<!--/T--></p>
  <div class="acms-admin-announce-action">
    <div class="js-fake-form" data-method="post">
      <div class="js-admin-category-select acms-admin-select2 is-single" data-creation="false"
           style="display: inline-block;">
        <div class="js-target"></div>
        <input type="hidden" name="cid" value="%{CID}" class="js-value">
      </div>
      <input type="hidden" name="ACMS_POST_2GET" value="on"/>
      <input type="hidden" name="admin" value="entry_editor"/>
      <input type="hidden" name="bid" value="%{BID}"/>
      <button class="js-submit acms-admin-btn acms-admin-btn-success" style="vertical-align: top;"><!--T-->エントリー作成<!--/T--></button>
    </div>
  </div>
</div>
<!-- END index#notFound -->
<!-- END_IF -->

<!-- BEGIN_IF [<!-- BEGIN index#notFound -->1<!-- END index#notFound -->/neq/1] -->
<!-- BEGIN sort#header -->
<div class="acms-admin-alert acms-admin-alert-info"><!--T-->ドラッグでエントリーの表示順を変更できます<!--/T--></div>
<!-- END sort#header --><!-- BEGIN sort#headerUser -->
<div class="acms-admin-alert acms-admin-alert-info"><!--T-->ドラッグでユーザー絞り込み時の表示順を変更できます
  <!--/T--></div><!-- END sort#headerUser --><!-- BEGIN sort#headerCategory -->
<div class="acms-admin-alert acms-admin-alert-info"><!--T-->ドラッグでカテゴリー絞り込み時の表示順を変更できます
  <!--/T--></div><!-- END sort#headerCategory -->


<form method="post" action="" id="entry-list-form" class="acms-admin-form">

  <div class="js-acms-tab-select clearfix js-acms_fix_marker acms-admin-margin-bottom-small">
    <select name="action-entry" class="js-acms-tab-select-value acms-admin-float-left acms-admin-margin-bottom-mini">
      <option value="action-order" {action-entry:selected#action-order}><!--T-->表示順<!--/T--></option>
      <option value="action-status" {action-entry:selected#action-status}><!--T-->ステータス<!--/T--></option>
      <!-- BEGIN_MODULE Touch_SessionWithCompilation -->
      <option value="action-user" {action-entry:selected#action-user}><!--T-->ユーザー<!--/T--></option>
      <option value="action-category" {action-entry:selected#action-category}><!--T-->カテゴリー<!--/T--></option>
      <option value="action-blog" {action-entry:selected#action-blog}><!--T-->ブログ<!--/T--></option>
      <option value="action-duplicate" {action-entry:selected#action-duplicate}><!--T-->複製<!--/T--></option>
      <option value="action-export" {action-entry:selected#action-export}><!--T-->エクスポート<!--/T--></option>
      <!-- END_MODULE Touch_SessionWithCompilation -->

      <!-- BEGIN adminDeleteAction -->
      <option value="action-delete" {action-entry:selected#action-delete}><!--T-->削除<!--/T--></option>
      <!-- END adminDeleteAction -->
    </select>

    <!-- BEGIN sort:action#entry -->
    <div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
      <input type="submit" name="ACMS_POST_Entry_Index_Sort_Entry" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
    </div><!-- END sort:action#entry --><!-- BEGIN sort:action#category -->
    <div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
      <input type="submit" name="ACMS_POST_Entry_Index_Sort_Category" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
    </div><!-- END sort:action#category --><!-- BEGIN sort:action#user -->
    <div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
      <input type="submit" name="ACMS_POST_Entry_Index_Sort_User" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
    </div><!-- END sort:action#user -->

    <div id="action-status" class="js-acms-tab-select-panel acms-admin-float-left">
      <select name="status" class="js-select2">
        <option value="open"><!--T-->公開<!--/T--></option>
        <option value="close"><!--T-->非公開<!--/T--></option>
        <option value="draft"><!--T-->下書き<!--/T--></option>
      </select>
      <input type="submit" name="ACMS_POST_Entry_Index_Status" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
    </div>
    <!-- BEGIN userSelect#batch --><!-- BEGIN_MODULE Admin_User_SelectGlobal -->
    <div id="action-user" class="js-acms-tab-select-panel acms-admin-float-left">
      <select name="uid" class="js-select2"><!-- BEGIN loop -->
        <option value="{value}" {selected}>{label}</option><!-- END loop -->
      </select>
      <input type="submit" name="ACMS_POST_Entry_Index_User" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
    </div>
    <!-- END_MODULE Admin_User_SelectGlobal --><!-- END userSelect#batch -->

    <div id="action-category" class="js-acms-tab-select-panel acms-admin-float-left">
      <div class="js-admin-category-select acms-admin-select2 is-single"
           data-creation="false" style="display: inline-block;">
        <div class="js-target"></div>
        <input type="hidden" name="cid" value="" class="js-value">
      </div>
      <input type="submit" name="ACMS_POST_Entry_Index_Category" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary" style="vertical-align: top;"/>
    </div>

    <!-- BEGIN_MODULE Touch_SessionWithAdministration -->
    <!-- BEGIN_MODULE Admin_Blog_SelectGlobal -->
    <div id="action-blog" class="js-acms-tab-select-panel acms-admin-float-left">
      <select name="bid" class="js-select2"><!-- BEGIN loop -->
        <option value="{value}" {selected}>{indent}[raw]{label}</option><!-- END loop -->
      </select>
      <input type="submit" name="ACMS_POST_Entry_Index_Blog" value="<!--T-->変更<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/><br/><span class="acms-admin-tab-text">(
      <!--T-->※変更されたエントリーはログイン中のユーザーの所有になり、カテゴリーの設定は解除されます。ただし、グローバルカテゴリーとして設定されている場合はカテゴリーが保持されます<!--/T--> )</span>
    </div>
    <!-- END_MODULE Admin_Blog_SelectGlobal -->
    <!-- END_MODULE Touch_SessionWithAdministration -->

    <!-- BEGIN_MODULE Touch_SessionWithCompilation -->
    <div id="action-duplicate" class="js-acms-tab-select-panel acms-admin-float-left">
      <input type="submit" name="ACMS_POST_Entry_Index_Duplicate" value="<!--T-->複製<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/><br/>
      <span class="acms-admin-tab-text">( <!--T-->※この操作は、件数が多いと処理に時間がかかることがあります<!--/T--> )</span>
    </div>

    <div id="action-export" class="js-acms-tab-select-panel acms-admin-float-left">
      <input type="submit" name="ACMS_POST_Entry_Index_Export" value="<!--T-->エクスポート<!--/T-->"
             class="acms-admin-btn-admin acms-admin-btn-admin-primary"/><br/>
    </div>
    <!-- END_MODULE Touch_SessionWithCompilation -->
    <!-- BEGIN adminDeleteAction2 -->
    <div id="action-delete" class="js-acms-tab-select-panel acms-admin-float-left">
      <input type="submit" name="ACMS_POST_Entry_Index_Trash" value="<!--T-->削除<!--/T-->"
             onclick="return confirm('<!--T-->ゴミ箱に移します。\nよろしいですか？<!--/T-->')"
             class="acms-admin-btn-admin acms-admin-btn-admin-danger"/>
    </div><!-- END adminDeleteAction2 -->
    <div class="js-fake-form acms-admin-float-right" data-method="post">
      <div class="js-admin-category-select acms-admin-select2 is-single acms-admin-margin-bottom-mini" data-creation="false"
           style="display: inline-block;">
        <div class="js-target"></div>
        <input type="hidden" name="cid" value="%{CID}" class="js-value">
      </div>
      <input type="hidden" name="ACMS_POST_2GET" value="on"/>
      <input type="hidden" name="admin" value="entry_editor"/>
      <input type="hidden" name="bid" value="%{BID}"/>
      <button class="js-submit acms-admin-btn acms-admin-btn-success acms-admin-margin-bottom-mini" style="vertical-align: top;"><!--T-->エントリー作成
        <!--/T--></button>
    </div>
  </div>

  <div class="acms-admin-table-scroll-xs acms-admin-table-scroll-sm acms-admin-table-scroll-md">
    <table class="acms-admin-table-admin js-admin_table-sortable acms-admin-table-hover" data-sort-enable="{sortable}"
           data-sort-submit="{postSortType}" data-sort-target="#entry-list-form" data-sort-order="%{ORDER}">
      <thead class="acms-admin-table-heading">
      <tr>
        @section("entry-index-table-thead-tr")
        <th class="item-handle acms-admin-hide-sp" style="display: none;"></th>
        <th class="acms-admin-table-center acms-admin-th-checkbox acms-admin-table-cell-sm acms-admin-table-nowrap">
          <div class="acms-admin-form-checkbox acms-admin-margin-none">
            <input type="checkbox" id="checkAll"/>
            <label for="checkAll"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!-- T -->すべてのエントリーを選択する
              <!--T--></span></label>
          </div>
        </th>
        <!-- BEGIN_IF [%{axis}/neq/descendant-or-self] -->
        <th class="acms-admin-table-nowrap"><!--T-->表示順<!--/T--></th>
        <!-- END_IF -->
        <th class="acms-admin-table-nowrap acms-admin-hide-lg acms-admin-hide-xl">編集</th>
        <th class="acms-admin-table-nowrap">ID</th>
        <th class="acms-admin-table-nowrap"><!--T-->ステータス<!--/T--></th>
        <th><!--T-->タイトル<!--/T--> / <!--T-->コード<!--/T--></th>
        <th><!--T-->日時<!--/T--> </th>
        <th class="acms-admin-table-nowrap"><!--T-->ブログ<!--/T--> / <!--T-->カテゴリー<!--/T--></th>
        <th><!--T-->ユーザー<!--/T--></th>
        <th class="acms-admin-table-nowrap"></th>
        <th class="acms-admin-table-nowrap"></th>
        @endsection
      </tr>
      </thead>
      <tbody>
      <!-- BEGIN entry:loop -->
      <tr data-sort-level="parallel" data-sort-name="sort-{sort#eid}">
        @section("entry-index-table-tbody-tr")
        <td class="item-handle acms-admin-td-sort acms-admin-hide-sp" style="cursor: move; display: none;"><i
          class="acms-admin-icon-sort"></i></td>
        <td class="acms-admin-table-center acms-admin-td-checkbox acms-admin-table-nowrap">
          <div class="acms-admin-form-checkbox acms-admin-margin-none">
            <input type="checkbox" id="input-checkbox-eid{sort#eid}" name="checks[]" value="{bid}:{eid}"/>
            <label for="input-checkbox-eid{sort#eid}"><i class="acms-admin-ico-checkbox"></i><span
              class="acms-admin-hide-visually"><!-- T -->エントリータイトル「{title}」を選択する<!-- /T --></span></label>
          </div>
        </td>
        <!-- BEGIN_IF [%{axis}/neq/descendant-or-self] -->
        <td class="acms-admin-td-number">
          <!-- BEGIN sort:veil -->
          <input type="text" class="sort-number" name="sort-{sort#eid}" value="{sort}" size="4" {disabled}/>
          <!-- END sort:veil -->
        </td>
        <!-- END_IF -->
        <td class="acms-admin-text-center acms-admin-hide-lg acms-admin-hide-xl"><a href="{editUrl}"
                                                                                    class="acms-admin-edit-icon-btn"><span
          class="acms-admin-icon-control-edit" aria-label="<!--T-->編集<!--/T-->"></span></a></td>
        <td class="acms-admin-td-id">
          <span class="acms-admin-label label-default">{eid}</span>
        </td>
        <td class="acms-admin-table-nowrap acms-admin-text-center">
          <small><!-- BEGIN status#close --><span class="acms-admin-label acms-admin-label-danger admin-status-label"><!--T-->非公開
            <!--/T--></span><!-- END status#close --><!-- BEGIN status#open --><span
            class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->公開<!--/T--></span>
            <!-- END status#open --><!-- BEGIN status#draft --><span
              class="acms-admin-label acms-admin-label-warning admin-status-label"><!--T-->下書き<!--/T--></span>
            <!-- END status#draft --></small>
        </td>
        <td>
          <a href="{entryUrl}" class="acms-admin-td-title">
            <p class="acms-admin-entryTitle">{title}</p>
          </a>
          <p class="acms-admin-margin-none">{code}</p>
        </td>
        <td>
          {datetime}[date('Y/m/d H:i')]
          <!-- BEGIN_IF [%{ORDER}/lk/updated_datetime]-->
          <br>
          <span class="acms-admin-label">更新日時</span> {updated_datetime}[date('Y/m/d H:i')]
          <!-- END_IF -->
          <!-- BEGIN_IF [%{ORDER}/lk/posted_datetime]-->
          <br>
          <span class="acms-admin-label">投稿日時</span> {posted_datetime}[date('Y/m/d H:i')]
          <!-- END_IF -->
        </td>
        <td>
          <ul class="acms-admin-list-nostyle">
            <li><a href="{blogUrl}"><i class="acms-admin-icon acms-admin-icon-blog"></i>{blogName}</a></li>
            <!-- BEGIN category:veil -->
            <li><a href="{categoryUrl}"><i class="acms-admin-icon acms-admin-icon-category"></i>{categoryName}</a></li>
            <!-- END category:veil -->
          </ul>
        </td>
        <td class="acms-admin-td-user">
          <a href="{userUrl}">
            <img
              src="%{ARCHIVES_DIR}{userIcon}"
              width="28"
              height="28"
              alt="%{SESSION_USER_NAME}"
              class="acms-admin-user acms-admin-margin-right-small acms-admin-cell-text-middle"
            >{userName}</a>
        </td>

        @include("/admin/entry/field-list.html")
        <td class="acms-admin-td-edit acms-admin-table-nowrap">
          <div class="acms-admin-btn-group acms-admin-btn-group-entry admin-entry-dropdown-toggle">
            <div class="js-acms-dropdown-toggle">
              <a class="acms-admin-btn-admin" href="{editUrl}"><!--T-->編集<!--/T--></a>
              <button type="button" class="acms-admin-btn-admin js-acms-dropdown-btn">
                <span class="acms-admin-arrow-bottom"></span>
              </button>
              <ul class="js-acms-dropdown-menu" role="menu" data-within=".js-admin_table-sortable">
                <!-- BEGIN_MODULE Touch_Approval --><!-- BEGIN_MODULE Touch_sessionWithApprovalAdministrator -->
                <li><a href="/bid/%{BID}/eid/{eid}/admin/entry_approval-history/"><!--T-->承認履歴<!--/T--></a></li>
                <li class="acms-admin-divider"></li><!-- END_MODULE Touch_sessionWithApprovalAdministrator -->
                <!-- END_MODULE Touch_Approval --><!-- BEGIN_MODULE Touch_SessionWithContribution -->
                <li><a href="#" class="js-acms_entry_index_duplicate"><!--T-->複製<!--/T--></a></li>
                <li class="acms-admin-divider"></li><!-- END_MODULE Touch_SessionWithContribution -->
                <!-- BEGIN adminDeleteActionLoop -->
                <li><a href="#" class="js-acms_entry_index_delete"><!--T-->削除<!--/T--></a></li>
                <!-- END adminDeleteActionLoop -->
              </ul>
            </div>
          </div>
        </td>
        <td>
          <!-- BEGIN_IF [{lockUser}/nem] -->
          <!-- BEGIN_IF [{selfLock}/eq/yes] -->
          <div class="js-fake-form" data-method="post">
            <input type="hidden" name="eid" value="{eid}"/>
            <input type="hidden" name="ACMS_POST_Entry_Lock_Unlock" value="on"/>
            <button class="js-submit" style="border: none; background: transparent; padding: 0;" data-confirm="ロックを解除してもよろしいですか？">
              <i class="acms-admin-icon acms-admin-icon-large acms-admin-icon-logout"></i>
            </button>
          </div>
          <!-- ELSE -->
          <i
            class="acms-admin-icon acms-admin-icon-large acms-admin-icon-lock js-acms-tooltip"
            data-acms-position="top-left"
            data-acms-tooltip="{lockUser}さんが編集中です"
          ></i>
          <!-- END_IF -->
          <!-- END_IF -->
        </td>
        @endsection
      </tr>
      <!-- END entry:loop -->
      </tbody>
    </table>
  </div>
  <!-- BEGIN index -->
  <div class="acms-admin-grid">
    @section("entry-index-pager")
    <div class="acms-admin-col-md-6 acms-admin-col-sm-12">
      <!-- BEGIN pager:veil -->
      <div class="acms-admin-pager-container">
        <ul class="acms-admin-pager"><!-- BEGIN backLink -->
          <li class="prev"><a href="{url}">&laquo;&nbsp;<!--T-->前へ<!--/T--></a></li><!-- END backLink -->
          <!-- BEGIN page:loop -->
          <li
          {pageCurAttr}[raw]><span><!-- BEGIN link#front --><a href="{url}"><!-- END link#front -->{page}
            <!-- BEGIN link#rear --></a><!-- END link#rear --></span></li><!-- END page:loop -->
          <!-- BEGIN lastPage:veil -->
          <li class="last"><a href="{lastPageUrl}">...{lastPage}</a></li><!-- END lastPage:veil -->
          <!-- BEGIN forwardLink -->
          <li class="next"><a href="{url}"><!--T-->次へ<!--/T-->&nbsp;&raquo;</a></li><!-- END forwardLink -->
        </ul>
      </div>
      <!-- END pager:veil -->
    </div>
    <div class="acms-admin-col-md-6 acms-admin-col-sm-12">
      <div class="acms-admin-itemsAmount-container">
        <p>{itemsFrom}<!--T--> 件<!--/T--> - {itemsTo}<!--T--> 件<!--/T--> / <!--T-->全<!--/T--> {itemsAmount}<!--T--> 件
          <!--/T--></p>
      </div>
    </div>
    @endsection
  </div><!-- /.acms-grid -->
  <!-- END index -->

  <!-- END_IF -->
</form>
<!-- END_MODULE Admin_Entry_Index -->
