@use "../foundation/global/acms-common" as acms;
@use "../foundation/global/common" as global;

/* ------------------------------
　　コンテナー
------------------------------ */
.l-container {
  max-width: global.$container-lg;
  margin: 0 auto;
  padding-right: acms.$grid-space;
  padding-left: acms.$grid-space;
  @include acms.box-sizing(border-box);
}

.l-container-md {
  max-width: global.$container-md;
  margin: 0 auto;
  padding-right: acms.$grid-space;
  padding-left: acms.$grid-space;
  @include acms.box-sizing(border-box);
}

.l-container-sm {
  max-width: global.$container-sm;
  margin: 0 auto;
  padding-right: acms.$grid-space;
  padding-left: acms.$grid-space;
  @include acms.box-sizing(border-box);
}
