@use "../foundation/global/acms-common" as acms;
@use "../foundation/global/common" as global;

/* ------------------------------
　　フッター
------------------------------ */
/* フッター内会社情報 */
.foot-wrapper {
	padding: 30px 0;
	background: #323232;
}
.company-about {
	margin: 0 0 30px 0;
	color: #FFF;
}
.company-name {
	margin: 0 0 15px 0;
	color: #FFF;
	@include global.font-size(20);
	font-style: normal;
}
.company-detail {
	margin: 0 0 5px 0;
	padding: 0;
	color: #FFF;
	@include global.font-size(14);
	font-style: normal;
	a {
		color: #FFF;
		 &:hover {
			text-decoration: underline;
		}
	}
}

/* フッターナビゲーション */
.footer-nav {
	float: right;
	max-width: 100%;
	margin: 0 -10px;
}
.footer-nav-item {
	display: block;
	float: left;
	box-sizing: border-box;
	margin: 0 0 10px 0;
	padding: 0 10px;
	vertical-align: top;
}
.footer-nav-title {
	margin: 0 0 5px 0;
	color: #FFF;
	@include global.font-size(16);
}
.footer-nav-list {
	margin: 0;
	padding: 0;
	color: #999;
	list-style: none;
	li {
		line-height: 1.7;
	}
	a {
		color: #999;
	}
}
@media screen and (max-width: acms.$breakpoint-md-max){
	.footer-nav {
		display: none;
	}
}

/* ページの上に戻るボタン */
.page-top {
	a:focus {
		display: block;
		border: 1px dotted #FFF;
	}
}
.page-top-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background-color: #323232;
	transform: translateZ(0);
	@if (global.$enable-iphonex == true) {
		right: calc(20px + constant(safe-area-inset-right));
	}
	opacity: 0;
  transition: opacity .2s ease-out;
	.no-js  & {
		/* jsが無効の環境のとき */
    opacity: .6;
	}
}
.page-top-btn-appear {
	opacity: 1;
}
@media screen and (max-width: acms.$breakpoint-md-max){
	.page-top-btn {
		display: none;
	}
}
@media screen and (min-width: acms.$breakpoint-md-min){
	.page-top-btn {
		 &:hover {
      opacity: .8;
      transition: opacity .25s linear;
		}
	}
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list {
	margin: 0 -5px 30px 15px;
	padding: 0;
	list-style: none;
}
.sns-list-item {
	float: left;
	margin: 0 5px;
	a {
		 &:hover,
		 &:visited,
		 &:active,
		 &:focus {
			text-decoration: none;
		}
	}
}
/* 各種SNSボタン */
.sns-list-item {
  .sns-list-facebook,
  .sns-list-twitter,
  .sns-list-youtube {
    display: block;
    width: 30px;
    height: 30px;
    color: #FFF;
    line-height: 1.5;
    text-align: center;
    border-radius: 4px;
    @include global.font-size(19);
    &:before {
      vertical-align: middle;
    }
  }
	.sns-list-facebook {
		background-color: map-get(global.$color-sns, facebook);
	}
	.sns-list-twitter {
		background-color: map-get(global.$color-sns, facebook);
	}
	.sns-list-youtube {
		background-color: map-get(global.$color-sns, youtube);
	}
}

@media screen and (min-width: acms.$breakpoint-md-min){
	.sns-list {
		float: right;
		margin: 0 -10px;
	}
	.sns-list-item {
		margin: 10px;
		a {
			 &:hover {
        opacity: .8;
        transition: opacity .25s linear;
			}
		}
	}
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
}
.copyright-text {
	margin: 0 auto;
}
