{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard-scss",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "no-duplicate-selectors": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "function-linear-gradient-no-nonstandard-direction": null,
    "scss/at-rule-no-unknown": true,
    "scss/at-function-pattern": null,
    "scss/no-global-function-names": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "scss/operator-no-unspaced": null,
    "order/order": [
      "custom-properties",
      "declarations"
    ]
  }
}
